/* 自定義樣式 */
#chat-messages {
    height: 300px;
    overflow-y: auto;

}

#message-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#send-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*#chat-message.col.border.p-3 {*/
/*    height: 60vh;*/
/*}*/
.message {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
.message.helper{
    /*text-align: left;*/
    background-color: #f2f2f2;
    /*align-self: flex-start;*/
}
.message.self {
    /*text-align: right;*/
    background-color: #d1ecf1;
    display: flex;
    flex-direction: column; /* 垂直方向排列子元素 */
    align-items: flex-end; /* 右對齊子元素 */
    /*align-self: flex-end;*/
}
/*}.message.self div{*/
/*     text-align: right;*/
/*}*/
.message.helper .avatar {
    margin-right: 10px;
}
.message.self .avatar {
    display: none;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*.chat-messages.self {*/
/*    background-color: #dcf8c6;*/
/*    align-self: flex-end;*/
/*    float: right;*/
/*    text-align: right;*/
/*}*/
div.container_helper{
    height: 100vh;
    width: 80%;
    border:60vh;
    margin-right: 50vh;
    margin-left: 5%;
    /*align-items: center;*/
}