<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>買家商品瀏覽</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!--css-->
        <th:block th:replace="~{/fragments/css}"/>
    <!-- CSS
 ========================= -->
<!--    &lt;!&ndash;bootstrap min css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/bootstrap.min.css">-->
<!--    &lt;!&ndash;owl carousel min css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/owl.carousel.min.css">-->
<!--    &lt;!&ndash;slick min css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/slick.css">-->
<!--    &lt;!&ndash;magnific popup min css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/magnific-popup.css">-->
<!--    &lt;!&ndash;font awesome css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/font.awesome.css">-->
<!--    &lt;!&ndash;ionicons min css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/ionicons.min.css">-->
<!--    &lt;!&ndash;animate css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/animate.css">-->
<!--    &lt;!&ndash;jquery ui min css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/jquery-ui.min.css">-->
<!--    &lt;!&ndash;slinky menu css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/slinky.menu.css">-->
<!--    &lt;!&ndash;plugins css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/plugins.css">-->

<!--    &lt;!&ndash; Main Style CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/FrontEnd0516/css/style.css">-->

<!--    &lt;!&ndash; add member css&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">-->
</head>

<body>
<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!--breadcrumb-->
<th:block th:replace="~{/fragments/breadcrumb}"/>

<!--shop  area start-->
<div class="shop_area shop_reverse mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div class="widget_list widget_color">
                            <h3><strong>商品分類&#x1F43E;&#x1F43E;&#x1F43E; </strong></h3>
                            <ul>
                                <li><a th:href="@{/buyer/proCategory/getOne/1}">&#x231A;3C</a></li>
                                <li><a th:href="@{/buyer/proCategory/getOne/2}">&#x1F6B2;家具</a></li>
                                <li><a th:href="@{/buyer/proCategory/getOne/3}">&#x1F4BC;服飾</a></li>
                                <li><a th:href="@{/buyer/proCategory/getOne/4}">&#x1F484;彩妝</a></li>
                                <li><a th:href="@{/buyer/proCategory/getOne/5}">&#x1F3B0;收藏品</a></li>
                                <li><a th:href="@{/buyer/proCategory/getOne/6}">&#x1F47E;多啦口袋</a></li>
                            </ul>
                        </div>
                        <div class="widget_list widget_compare">
                            <h3><strong> &#x1F498; 熱門商品推薦 &#x1F498; </strong></h3>
                            <div class="shop_sidebar_product">
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" href="product-details.html"><img
                                                    src="/assets/FrontEnd0516/img/product/healthycup.jpg" alt=""></a>
                                            <a class="secondary_img" href="product-details.html"><img
                                                    src="/assets/FrontEnd0516/img/product/guocup.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="product_content">
                                            <h4 class="product_name"><a href="product-details.html">SQL營養液套組</a>
                                            </h4>
                                            <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="price_box">
                                                <span class="current_price">$888,888,888</span>
                                                <span class="old_price">$1,111,111,110</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" href="product-details.html"><img
                                                    src="/assets/FrontEnd0516/img/product/javamic.jpg" alt=""></a>
                                            <a class="secondary_img" href="product-details.html"><img
                                                    src="/assets/FrontEnd0516/img/product/mi.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="product_content">
                                            <h4 class="product_name"><a href="product-details.html">JAVA麥克風</a></h4>
                                            <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="price_box">
                                                <span class="current_price">$1,000,000</span>
                                                <span class="old_price">$10,000,000</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" href="product-details.html"><img
                                                    src="/assets/FrontEnd0516/img/product/meetingbag.jpg" alt=""></a>
                                            <a class="secondary_img" href="product-details.html"><img
                                                    src="/assets/FrontEnd0516/img/product/wubag1.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="product_content">
                                            <h4 class="product_name"><a href="product-details.html"> 面試順利包</a></h4>
                                            <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="price_box">
                                                <span class="current_price">$888,888,888</span>
                                                <!-- <span class="old_price">$20.00</span>  -->
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" href="product-details.html"><img
                                                    src="/assets/FrontEnd0516/img/product/supermouse.jpg" alt=""></a>
                                            <a class="secondary_img" href="product-details.html"><img
                                                    src="/assets/FrontEnd0516/img/product/bigwumouse.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="product_content">
                                            <h4 class="product_name"><a href="product-details.html"> 吳神滑鼠</a></h4>
                                            <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                    <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="price_box">
                                                <span class="current_price">$999,999,999</span>
                                                <!-- <span class="old_price">$20.00</span>  -->
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        </div>
                        <div class="widget_list shopside_banner">
                            <div class="banner_thumb">
                                <a href="#"><img src="/assets/FrontEnd0516/img/bg/banner12.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">

                    <button type="button" class="btn btn-success float-right" data-toggle="modal"
                            data-target="#searchModal" id="search">
                        搜索清單
                    </button>

                    <!-- 搜索模态框 -->
                    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog"
                         aria-labelledby="searchModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h5 class="modal-title" id="searchModalLabel">搜索商品</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!-- 模态框内容 -->
                                <div class="modal-body">
                                    <!-- 搜索表单 -->
                                    <form id="searchForm" th:action="@{/api/product/query}" method="get">
                                        <!-- 商品名称 -->
                                        <div class="form-group">
                                            <label for="name">商品名稱:</label>
                                            <input type="text" class="form-control" id="name" name="name">
                                        </div>
                                        <!-- 商品描述 -->
                                        <div class="form-group">
                                            <label for="description">商品描述:</label>
                                            <input type="text" class="form-control" id="description"
                                                   name="description">
                                        </div>
                                        <!-- 分类 -->
                                        <div class="form-group">
                                            <label for="categoryId">分類:</label>
                                            <select id="categoryId" name="categoryId" class="form-control">
                                                <option value="">請選擇分類</option>
                                                <!-- 使用Thymeleaf渲染选项 -->
                                                <option th:each="category : ${productCategoryList}"
                                                        th:value="${category.categoryId}"
                                                        th:text="${category.categoryName}"></option>
                                            </select>
                                        </div>
                                        <!-- 最低价格 -->
                                        <div class="form-group">
                                            <label for="minPrice">最低價格：</label>
                                            <input type="number" id="minPrice" name="minPrice" min="0">
                                        </div>
                                        <!-- 最高价格 -->
                                        <div class="form-group">
                                            <label for="maxPrice">最高價格：</label>
                                            <input type="number" id="maxPrice" name="maxPrice" min="0">
                                        </div>
                                        <!-- 買家編號 -->
                                        <div class="form-group">
                                            <label for="memberId">買家編號:</label>
                                            <input type="text" class="form-control" id="memberId" name="memberId">
                                        </div>
                                        <!-- 審核状态 -->
                                        <div id="reviewStatus">
                                            <label><input type="checkbox" name="reviewStatus" value="0">
                                                審核中</label>
                                            <label><input type="checkbox" name="reviewStatus" value="1">
                                                通過</label>
                                            <label><input type="checkbox" name="reviewStatus" value="2">
                                                未通過</label>
                                        </div>
                                        <!-- 商品状态 -->
                                        <div id="productStatus">
                                            <label><input type="radio" name="label" value="0"><span
                                                    class="round button">未上架</span></label>
                                            <label><input type="radio" name="label" value="1"><span
                                                    class="round button">上架</span></label>
                                        </div>
                                        <!-- 模态框底部 -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">搜索</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper">
                    <div class="product_grid col-lg-4 col-md-4 col-sm-6 col-12 " th:each="product : ${productPage.content}">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img"
                                       th:if="${product.productImgs != null and product.productImgs.size() > 0}"
                                       th:id="'productImgTd_' + ${product.productImgs[0].imageId}"
                                       th:href="@{/buyer/product/getOne/{productId}(productId=${product.productId})}">
                                        <img th:src="'data:image/jpg;base64,'+${product.productImgs[0].imageBase64}"
                                             style="height: 150px;width: 150px" alt=""/>
                                    </a>
                                    <div class="action_links">
                                        <ul>
                                            <li class="quick_button"><a href="#" data-toggle="modal"
                                                                        data-target="#modal_box" title="quick view"> <i
                                                    class="icon icon-Eye"></i></a></li>
                                            <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                    class="icon icon-Heart"></i></a></li>
                                            <li class="compare"><a href="#" title="Add to Compare"><i
                                                    class="icon icon-MusicMixer"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_content grid_content">
                                    <div class="product_rating">
                                        <ul>
                                            <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                            <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                            <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                            <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                            <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4 class="product_name" th:text="${product.name}">
                                        <span style="font-size: large;"></span></h4>
                                    <div class="price_box">
                                        <span class="current_price" th:text="${product.price}"></span>
                                    </div>
                                    <div class="add_to_cart">
                                        <a title="Add to cart" th:onclick="|addToCart(${product.productId}, 1);|" data-product-id="${product.productId}">加入購物車</a>
                                    </div>'
                                </div>
                            </figure>
                        </article>
                    </div>

                </div>

                <div class="shop_toolbar t_bottom">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"
                                th:classappend="${productPage.hasPrevious()} ? '' : 'disabled'">
                                <a class="page-link"
                                   th:href="@{/product/buyer/select(page=${productPage.number - 1}, size=${productPage.size})}">Previous</a>
                            </li>
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}"
                                th:classappend="${productPage.number == i} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/product/buyer/select(page=${i}, size=${productPage.size})}"
                                   th:text="${i + 1}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${productPage.hasNext()} ? '' : 'disabled'">
                                <a class="page-link"
                                   th:href="@{/product/buyer/select(page=${productPage.number + 1}, size=${productPage.size})}">Next</a>
                            </li>
                            <li class="page-item">
                                <form th:action="@{/product/buyer/select}" method="get">
                                    <input type="hidden" name="size" th:value="${productPage.size}">
                                    <input type="number" name="page" min="0" max="${productPage.totalPages - 1}"
                                           step="1" value="${productPage.number}" style="width: 50px;">
                                    <button type="submit" class="btn btn-primary">Go</button>
                                </form>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->

<!--js-->
<th:block th:replace="~{/fragments/js}"/>
<script src="/js/api-response-utils.js"></script>

<script>
    $(document).ready(function () {

        $('#searchForm').submit(function (e) {
            e.preventDefault(); // 阻止表单默认提交
            // 获取表单数据
            var formData = $(this).serialize();

            // 发送 Ajax 请求
            $.ajax({
                url: '/api/product/query',
                type: 'GET',
                data: formData,
                headers: {
                    "authorization": localStorage.getItem("authorization")
                },
                success(response) {
                    apiResponseJSON(response, {
                        onSuccess(data) {
                            console.log(response.code);
                            // 清空表格数据
                            $('.shop_wrapper').empty();
                            if (response.code === "0") {
                                alert('搜索成功');
                                $('#searchModal').modal('hide');
                                // 遍历搜索结果并显示到页面上
                                response.data.forEach(function (product) {
                                    var imageSrc = product.productImgs && product.productImgs.length > 0 ? product.productImgs[0].image : '';

                                    // 构建产品HTML
                                    var productHTML = `
                                        <div class="product_grid col-lg-4 col-md-4 col-sm-6 col-12 ">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img" href="/buyer/product/getOne/${product.productId}">
                                                            <img src="data:image/jpg;base64,${imageSrc}" style="height: 150px;width: 150px" alt=""/>
                                                        </a>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"><i class="icon icon-Eye"></i></a></li>
                                                                <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon icon-Heart"></i></a></li>
                                                                <li class="compare"><a href="#" title="Add to Compare"><i class="icon icon-MusicMixer"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product_content grid_content">
                                                        <div class="product_rating">
                                                            <ul>
                                                                <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                                <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                                <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                                <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                                <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <h4 class="product_name">${product.name}</h4>
                                                        <div class="price_box">
                                                            <span class="current_price">${product.price}</span>
                                                        </div>
                                                        <div class="add_to_cart">
                                                            <a title="Add to cart" th:onclick="|addToCart(${product.productId}, 1);|" data-product-id="${product.productId}">加入購物車</a>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </article>
                                            </div>
                                `;
                                    // 添加产品到搜索结果
                                    $('.shop_wrapper').append(productHTML);
                                });
                            } else {
                                alert('搜索不成功！' + response.message);
                                console.log(response);
                            }
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert('搜索失败');
                }
            });
        });


    });
</script>


<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

</body>
</html>