<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>所有商品資料</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css"/>

<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/css/index.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/css/error.css}"/>-->

    <!-- Additional CSS for DataTables -->
    <style>
        body {
            margin: 1rem 10rem;
        }
    </style>

    <style>
        #radio input[type="productStatus"] {display: none; }
    </style>

    <!--js-->
<!--    <th:block th:replace="~{/fragments/js}"/>-->
    <!--css-->
<!--    <th:block th:replace="~{/fragments/css}"/>-->

</head>
<body>

<!--<div id="headerFromA">-->
<!--header-->
<!--    <th:block th:replace="~{/fragments/header}"/>-->
<!--</div>-->



<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center">
        <h2>所有商品資料</h2>
        <a href="/test-index">回首頁</a>
    </div>
</nav>

<button type="button" class="btn btn-success float-right" id="create">
    新增商品
</button>

<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#searchModal" id="search">
    搜索清單
</button>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">搜索商品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="searchForm" method="get" action="/api/product/query" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="name">商品名稱:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>

                            <div class="form-group">
                                <label for="description">商品描述:</label>
                                <input type="text" class="form-control" id="description" name="description" required>
                            </div>

                            <div class="form-group">
                                <label for="categoryId">分類:</label>
                                <select id="categoryId" name="categoryId" class="form-control" required> </select>
                            </div>

<!--                            <label for="minPrice">最低價格：</label>-->
<!--                            <input type="number" id="minPrice" name="minPrice" min="0">-->
<!--                            <label for="maxPrice">最高價格：</label>-->
<!--                            <input type="number" id="maxPrice" name="maxPrice" min="0">-->

<!--                            <div class="form-group">-->
<!--                                <label for="memberId">買家編號:</label>-->
<!--                                <input type="text" class="form-control" id="memberId" name="memberId"-->
<!--                                       required>-->
<!--                            </div>-->

                            <div id="reviewStatus">
                                <label><input type="checkbox" name="reviewStatus" value="0"> 審核中</label>
                                <label><input type="checkbox" name="reviewStatus" value="1"> 通過</label>
                                <label><input type="checkbox" name="reviewStatus" value="2"> 未通過</label>
                            </div>

                            <div id="productStatus">
                                <label><input type="radio" name="label" value="0"><span class="round button">未上架</span></label>
                                <label><input type="radio" name="label" value="1"><span class="round button">上架</span></label>
                            </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                        <button type="submit" class="btn btn-primary">搜索</button>-->
                        <button type="button" class="btn btn-primary" id="searchButton">搜索</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<table id="list" class="display" style="width: 100%">
    <thead>
    <tr style="background-color:#CCCCFF">
        <th>商品編號</th>
        <th>賣家編號</th>
        <th>分類編號</th>
        <th>商品名稱</th>
        <th>商品描述</th>
        <th>價格</th>
        <th>數量</th>
        <th>商品圖片</th>
        <th>審核狀態</th>
        <th>上下架狀態</th>
        <th>修改</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#list').DataTable({
        // var dataTable = $('#list').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100],
            "searching": true,
            "paging": true,
            "ordering": true,
            "processing": true,
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "顯示 _MENU_ 筆結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
                "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                "infoPostFix": "",
                "search": "搜尋:",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending": ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            },
            "ajax": {
                "url": "/api/product/getAll",
                "type": "GET",
                "dataSrc": "data"
            },
            "columns": [
                {"data": "productId"},
                {"data": "sellerId"},
                {
                    "data": "productCategoryEntity",
                    "render": function (data, type, full, meta) {
                        return data.categoryId + '-[' + data.categoryName + ']';
                    }
                },
                {"data": "name"},
                {"data": "description"},
                {"data": "price"},
                {"data": "quantity"},
                {
                    "data": "productImgs[0].image",
                    "render": function (data, type, full, meta) {
                        str = '<img src="data:image/jpeg;base64,' + data + '" width="100px">';
                        return str;
                    }
                },
                {"data": "reviewStatus"},
                {"data": "productStatus"},
                {
                    "data": "productId",
                    "render": function (data, type, full, meta) {
                        return `<form method="post" action="/product/update/${data}" style="margin-bottom: 0px;">
                                <input type="submit" class="updateButton" value="修改" data-productid="${data}">
                                <input type="hidden" name="productId" value="${data}">
                                </form>`;
                    }
                }
            ]
        });

        /** 新增商品 button */
        $("#create").on("click", function () {
            $.ajax({
                url: '/api/product/create',
                type: 'POST',
                contentType: "application/json",
                headers: {
                    "authorization": localStorage.getItem("authorization")
                },
                success: function (res) {
                    console.log(res)
                    window.location.href = "/product/create";
                },
                error: function (error) {
                    alert("伺服器連線失敗: " + error);
                }
            });
        });

        /** update */
        $("#list").on("click", ".updateButton", function() {
            var productId = $(this).data("productid"); // 获取按钮上的 productId
            // 将 productId 作为参数拼接到修改页面的 URL 中，并进行页面跳转
            window.location.href = "/product/update/" + productId;
            return false; // 阻止默认行为
        });

        // $("#list").on("click", ".updateButton", function() {
        //     var productId = $(this).data("productid"); // 获取按钮上的 productId
        //
        //     // 准备要发送的数据
        //     var dataToSend = {
        //         productId: productId, // 将 productId 添加到要发送的数据中
        //         // 添加更多需要发送的数据
        //         categoryId: categoryId,
        //         name: name,
        //         price: price,
        //         quantity: quantity,
        //         description: description,
        //         image: image
        //     };
        //
        //     // 发起 POST 请求
        //     $.ajax({
        //         url: "/product/update/" + productId, // 更新页面的 URL
        //         type: "POST",
        //         data: dataToSend, // 发送的数据
        //         success: function(response) {
        //             // 请求成功处理
        //             console.log("数据发送成功" + response);
        //             // 可以根据需要进行其他操作
        //         },
        //         error: function(xhr, status, error) {
        //             // 请求失败处理
        //             console.error("数据发送失败: " + error);
        //         }
        //     });
        //
        //     return false; // 阻止默认行为
        // });

        /** Category */
        // 加載商品分類選項
        $.ajax({
            url: '/api/productCategory/getAll',
            type: 'GET',
            headers: {
                "authorization": localStorage.getItem("authorization")
            },
            success: function (res) {
                console.log(res);
                let data = res.data;
                let categoryIdSelect = $('#categoryId');
                categoryIdSelect.empty();
                categoryIdSelect.append(`<option value="">請選擇分類</option>`);
                data.forEach(function (category) {
                    categoryIdSelect.append(`<option value="${category.categoryId}">${category.categoryName}</option>`);
                });
            },
            error: function (error) {
                alert("伺服器連線失敗: " + error);
            }
        });

        /** 搜索 */
        // 隱藏搜索列
        // $('#searchModal').modal('hide');
        //
        // $('#search').on('click', function () {
        //     $('#searchModal').modal('show');
        // });

        // 點擊搜索按鈕時觸發搜索
        $('#searchButton').on('click', function () {
            // 獲取搜索條件並發送 Ajax 請求
            var name = $('#name').val();
            var description = $('#description').val();
            var categoryId = $('#categoryId').val();
            var reviewStatus = $("input[name='reviewStatus']:checked").map(function(){
                return $(this).val();
            }).get();
            var productStatus = $("input[name='label']:checked").val(); // 修改为 label


            $.ajax({
                url: '/api/product/query',
                type: 'GET',
                data: {
                    name: name,
                    description: description,
                    categoryId: categoryId,
                    reviewStatus: reviewStatus,
                    productStatus: productStatus
                },
                headers: {
                    "authorization": localStorage.getItem("authorization")
                },
                success: function (res) {
                    if (res.code === "0") {
                        alert('搜索成功');
                        $('#searchModal').modal('hide');

                        $('#list tbody').empty();
                                                             // function找得到資料
                        // 遍历产品列表并显示到页面上
                        res.data.forEach(function(product) {
                                console.log(product)

                            var imageSrc = product.productImgs && product.productImgs.length > 0 ? product.productImgs[0].image : '';

                            var html = '<tr>' +
                                '<td>' + product.productId + '</td>' +
                                '<td>' + product.sellerId + '</td>' +
                                '<td>' + product.productCategoryEntity.categoryId + '-[' + product.productCategoryEntity.categoryName + ']' + '</td>' +
                                '<td>' + product.name + '</td>' +
                                '<td>' + product.description + '</td>' +
                                '<td>' + product.price + '</td>' +
                                '<td>' + product.quantity + '</td>' +
                                // '<td><img src="data:image/jpeg;base64,' + product.productImgs[0].image + '" width="100px"></td>' +
                                '<td><img src="data:image/jpeg;base64,' + imageSrc + '" width="100px"></td>' + // 使用imageSrc變量
                                '<td>' + product.reviewStatus + '</td>' +
                                '<td>' + product.productStatus + '</td>' +
                                '<td>' +
                                '<form method="post" action="/product/update/' + product.productId + '" style="margin-bottom: 0px;">' +
                                '<input type="submit" class="updateButton" value="修改" data-productid="' + product.productId + '">' +
                                '<input type="hidden" name="productId" value="' + product.productId + '">' +
                                '</form>' +
                                '</td>' +
                                '</tr>';

                            // 將產品行添加到表格中
                            $('#list').append(html);
                            console.log(html)
                        });
                    } else {
                        alert('搜索失败！' + res.message);
                        console.log(res);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert('搜索失败');
                }
            });

        });
    });


    //
    //         /** 價格 */
    //         $(document).ready(function () {
    //             $("#searchButton").click(function () {
    //                 // 獲取最低價格和最高價格的值
    //                 var minPrice = $("#minPrice").val();
    //                 var maxPrice = $("#maxPrice").val();
    //
    //                 // 發送Ajax請求
    //                 $.ajax({
    //                     url: '/api/product/query',
    //                     type: 'GET',
    //                     data: {
    //                         minPrice: minPrice,
    //                         maxPrice: maxPrice
    //                     },
    //                     headers: {
    //                         "authorization": localStorage.getItem("authorization")
    //                     },
    //                     success: function (res) {
    //                         console.log("成功:", res);
    //                     },
    //                     error: function (xhr, status, error) {
    //                         console.error('發生錯誤：', error);
    //                     }
    //                 });
    //             });
    //
    //
    //             /** 搜索 */
    //             $('#searchButton').on('click', function () {
    //                 // 從表單中獲取搜索條件
    //                 var name = $('#name').val();
    //                 var description = $('#description').val();
    //                 var categoryId = $('#categoryId').val();
    //                 var reviewStatus = []; // 審核狀態可能有多個選項，以數組形式傳遞
    //                 $("input[name='reviewStatus']:checked").each(function() {
    //                     reviewStatus.push($(this).val());
    //                 });
    //                 var productStatus = $("input[name='label']:checked").val(); // 上下架狀態使用單選框，只取其中一個值
    //
    //                 // 發送Ajax請求
    //                 $.ajax({
    //                     url: '/api/product/query',
    //                     type: 'GET',
    //                     data: {
    //                         name: name,
    //                         description: description,
    //                         categoryId: categoryId,
    //                         reviewStatus: reviewStatus,
    //                         productStatus: productStatus
    //                     },
    //                     headers: {
    //                         "authorization": localStorage.getItem("authorization")
    //                     },
    //                     success: function (res) {
    //                         if (res.code === "0") {
    //                             alert('搜索成功');
    //                             $('#searchModal').modal('hide');
    //                         } else {
    //                             alert('搜索失败！' + res.message);
    //                             console.log(res);
    //                         }
    //                     },
    //                     error: function (xhr, status, error) {
    //                         // 處理錯誤
    //                         console.error(error);
    //                         alert('搜索失败');
    //                     }
    //                 });
    //             });


</script>



<!--<div id="footerFromA">-->
    <!--footer-->
<!--    <th:block th:replace="~{/fragments/footer}"/>-->
<!--</div>-->


</body>
</html>

