<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <title> MyMyDearFriends 賣 買 管理平台 </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<!--    <link rel="stylesheet" type="text/css" href="images/text.css">-->
<!--    <SCRIPT language=JavaScript src="images/script.js" type=text/javascript></SCRIPT>-->
<!--    <th:block th:replace="~{/fragments/css}"/>-->

<style>
    /* 樣式設置 */
    .tab-container {
        border-bottom: 1px solid #ccc;
        display: flex;
    }

    .tab {
        padding: 10px 20px;
        cursor: pointer;
        border: 1px solid transparent;
        border-bottom: none;
        background-color: #f0f0f0;
    }

    .tab.active {
        border-color: #ccc;
    }

    .tab-content {
        display: none;
        padding: 20px;
        border: 1px solid #ccc;
        border-top: none;
        width: 100%;
    }

    .tab-content.active {
        display: block;
    }
</style>

</head>


<body>
<div align=center>
    <table width=770 border=0 cellspacing=0 cellpadding=0 background=images/bg.gif>
        <tr>
            <td width=10></td>
            <td width=750 height=100 align=center valign=top>
                <!-- top1 -->
                <table width=750 border=0 cellspacing=0 cellpadding=0 height=10 bgcolor="#FFA200">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <!-- /top1 -->
                <!-- top2 -->
                <table width=748 border=0 cellspacing=0 cellpadding=0 height=60 bgcolor=efefef>
                    <tr>
                        <!--                        <td width=200 height=60><img src="/assets/img/logo.png" width="200" height="60" border="0" alt="">-->
                        <!-- top3 -->
                        <TABLE border=0 cellPadding=0 cellSpacing=0 width=750>
                            <TBODY>
                            <TR>
                                <TD width=200 valign=top align=center>
                                    <div align=right>
                                        <table width=198 border=0 cellspacing=0 cellpadding=0 bgcolor=dddddd>
                                            <tr>
                                                <td><img src="images/userlogin.gif" width="198" height="30" border="0"
                                                         alt="">
                                                </td>
                                            </tr>
                                        </table>
                                        <table width=198 border=0 cellspacing=1 cellpadding=0 bgcolor=dddddd>
                                            <tr height=24 bgcolor=ffffff>
                                                <form id="loginForm" action="#"
                                                      method="post" target="_blank">
                                                    <td width=60 align=center><font color=aaaaaa>帳 號</font></td>
                                                    <td width=137 align=center>
                                                        <div class="form-floating mb-3">
                                                            <input class="form-control" id="username" name="username"
                                                                   size=12
                                                                   class="form1"
                                                                   style="background-color: rgb(210,232,255); color: #7B7B7B; border: 1px solid #7B7B7B">
                                                            <label for="username"></label>
                                                        </div>
                                                    </td>
                                                </form>
                                            </tr>
                                            <tr height=24 bgcolor=ffffff>
                                                <td align=center><font color=aaaaaa>密　码</font></td>
                                                <td align=center>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="password" name="password"
                                                               maxlength=16
                                                               size=12 type=password class="form1"
                                                               style="background-color: rgb(210,232,255); color: #7B7B7B; border: 1px solid #7B7B7B">
                                                        <label for="password"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height=24 bgcolor=ffffff>
                                                <td align=center><font color=aaaaaa>验证码</font></td>
                                                <td align=center>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="verifycode" name="verifycode"
                                                               maxlength=16 value="8358" size=12 type=password
                                                               class="form1"
                                                               style="background-color: rgb(210,232,255); color: #7B7B7B; border: 1px solid #7B7B7B">
                                                        <label for="verifycode"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height=24 bgcolor=ffffff>
                                                <td colspan="2" align=center>
                                                    <button type="submit" class="btn btn-primary">登入</button>
                                                </td>
                                            </tr>
                                        </table>
                                        <td width=548 align=center valign=top>
                                            <!-- 导航 -->
                                            <TABLE WIDTH=548 BORDER=0 CELLPADDING=0 CELLSPACING=0>
                                                <!-- 標籤容器 -->
                                                <div class="tab-container">
                                                    <!-- 初始的標籤 -->
                                                    <div class="tab" onclick="showTabContent('new')">最新消息</div>
                                                    <div class="tab" onclick="showTabContent('google')">google</div>
                                                    <div class="tab" onclick="showTabContent('ie')">IE</div>
                                                </div>

                                                <!-- 標籤內容 -->
                                                <div id="yahoo" class="tab-content active">
                                                    <h2>Yahoo Content</h2>
                                                    <p>This is the content for Yahoo.</p>
                                                </div>
                                                <div id="google" class="tab-content">
                                                    <h2>Google Content</h2>
                                                    <p>This is the content for Google.</p>
                                                </div>
                                                <div id="ie" class="tab-content">
                                                    <h2>IE Content</h2>
                                                    <p>This is the content for IE.</p>
                                                </div>
                                            </table>
                                        </td>
                                    </div>
                                </TD>
                            </TR>
                            </TBODY>
                        </table>
                    </tr>
                </table>
                <!-- /top2 -->
            </TD>
            <!--                        <td>查詢所有該賣家所以訂單明細</td>-->

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-5 mb-5">
                        <table id="products" class="table table-bordered table-responsive-sm">
                            <colgroup>
                                <!-- 第一欄寬度 -->
                                <col style="width: 3%;">
                                <!-- 第二欄寬度 -->
                                <col style="width: 5%;">
                                <!-- 第三欄寬度 -->
                                <col style="width: 20%;">
                                <!-- 第四欄寬度 -->
                                <col style="width: 30%;">
                                <!-- 第五欄寬度 -->
                                <col style="width: 5%;">
                                <!-- 第六欄寬度 -->
                                <col style="width: 2%;">
                                <!-- 第七欄寬度 -->
                                <col style="width: 35%;">
                                <!-- 第八欄寬度 -->
                                <col style="width: 5%;">
                                <!-- 第九欄寬度 -->
                                <col style="width: 5%;">
                                <!-- 第十欄寬度 -->
                                <col style="width: 10%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>編號</th>
                                <!--                                        <th>賣家編號</th>-->
                                <th>分類</th>
                                <th>品名</th>
                                <th>內容</th>
                                <th>價格</th>
                                <th>數量</th>
                                <th>圖片</th>
                                <th>審核</th>
                                <th>上下架</th>
                                <th>修改</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${productPage.content}">
                                <td th:text="${product.productId}">1</td>
                                <!--                                        <td th:text="${product.sellerId}">sellerId</td>-->
                                <td th:text="${product.productCategoryEntity.categoryName}"></td>

                                <td th:text="${product.name.length() > 5 ? #strings.substring(product.name, 0, 5) + '...' : product.name}">
                                    name
                                </td>

                                <td th:text="${product.description}">0.00</td>

                                <td th:text="${product.price}">0.00</td>

                                <td th:text="${product.quantity}">0.00</td>

                                <td th:if="${product.productImgs != null and product.productImgs.size() > 0}"
                                    th:id="'productImgTd_' + ${product.productImgs[0].imageId}">
                                    <img th:src="'data:image/jpg;base64,'+${product.productImgs[0].imageBase64}"
                                         style="height: 120px;width: 120px" alt=""/>
                                </td>
                                <td th:if="${product.productImgs == null or product.productImgs.size() == 0}"></td>

                                <td th:utext="${reviewStatusList.containsKey(product.reviewStatus) ? reviewStatusList[product.reviewStatus] : '默認'}">
                                    0.00
                                </td>
                                <td th:utext="${productStatusList.containsKey(product.productStatus) ? productStatusList[product.productStatus] : '默認'}">
                                    0.00
                                </td>
                                <td>
                                    <a th:href="@{/seller/product/getOne/{productId}(productId=${product.productId})}"
                                       class="btn btn-primary">修改</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                        <nav>
                            <ul class="pagination">
                                <li class="page-item"
                                    th:classappend="${productPage.hasPrevious()} ? '' : 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/product/seller/select(page=${productPage.number - 1}, size=${productPage.size})}">Previous</a>
                                </li>
                                <li class="page-item"
                                    th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}"
                                    th:classappend="${productPage.number == i} ? 'active'">
                                    <a class="page-link"
                                       th:href="@{/product/seller/select(page=${i}, size=${productPage.size})}"
                                       th:text="${i + 1}">1</a>
                                </li>
                                <li class="page-item" th:classappend="${productPage.hasNext()} ? '' : 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/product/seller/select(page=${productPage.number + 1}, size=${productPage.size})}">Next</a>
                                </li>
                                <li class="page-item">
                                    <form th:action="@{/product/seller/select}" method="get">
                                        <input type="hidden" name="size" th:value="${productPage.size}">
                                        <input type="number" name="page" min="0" max="${productPage.totalPages - 1}"
                                               step="1" value="${productPage.number}" style="width: 50px;">
                                        <button type="submit" class="btn btn-primary">Go</button>
                                    </form>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </TR>
    </TABLE>

    <br><br><br>

    <!-- bottom -->
    <table width=748 border=0 cellspacing=1 cellpadding=0 bgcolor=dddddd>
        <tr bgcolor=ffffff height=18>
            <th>修改人</th>
            <th>審核人</th>
            <th>狀態</th>
        </tr>
        <tbody>
        <tr>
            <td th:text="1">Peter</td>
            <td th:text="1">Peter</td>
            <td th:text="審核中">審核中</td>
    </table>
    <!-- /bottom -->
    <div align=center>
        <br>copyright by www.wish8.com 2024/05--賣~買 Dear Friends
        <br><br>
    </div>
</div>

<th:block th:replace="~{/fragments/js}"/>
<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<script src="/js/api-response-utils.js"></script>
<script>
    // 函數：顯示特定標籤的內容
    function showTabContent(tabName) {
        // 隱藏所有標籤內容
        var tabContents = document.querySelectorAll('.tab-content');
        tabContents.forEach(function (content) {
            content.classList.remove('active');
        });

        // 顯示選定標籤的內容
        var selectedTabContent = document.getElementById(tabName);
        selectedTabContent.classList.add('active');

        // 取消選定所有標籤
        var tabs = document.querySelectorAll('.tab');
        tabs.forEach(function (tab) {
            tab.classList.remove('active');
        });

        // 選定並突顯選定標籤
        var selectedTab = document.querySelector('[onclick="showTabContent(\'' + tabName + '\')"]');
        selectedTab.classList.add('active');
    }
</script>

<!--<script>-->
<!--    let userData = {};-->
<!--    let errorMessage = "";-->
<!--    $(document).ready(function () {-->
<!--        $('#loginForm').submit(function (e) {-->
<!--            e.preventDefault(); // 防止表單提交-->
<!--            errorMessage = "";-->
<!--            let employeeAccount = $('#employeeAccount').val();-->
<!--            if (employeeAccount === "") {-->
<!--                errorMessage += "<li>請輸入帳號</li>";-->
<!--            }-->
<!--            let employeePassword = $('#employeePassword').val();-->
<!--            if (employeePassword === "") {-->
<!--                errorMessage += "<li>請輸入密碼</li>";-->
<!--            }-->

<!--            if (errorMessage !== "") {-->
<!--                document.getElementById("errorMessage").innerHTML = "<ul>" + errorMessage + "</ul>";-->
<!--                return;-->
<!--            }-->

<!--            userData = {-->
<!--                employeeAccount: employeeAccount,-->
<!--                employeePassword: employeePassword-->
<!--            };-->

<!--            $("#errorMessage").text("");-->

<!--            $.ajax({-->
<!--                url: "/api/employee/login",-->
<!--                method: "post",-->
<!--                contentType: "application/json",-->
<!--                data: JSON.stringify(userData),-->
<!--                success(response) {-->
<!--                    console.log(response)-->

<!--                    // 登入成功後的處理-->
<!--                    if (apiResponseJSON(response)) {-->
<!--                        switch (response.data.status) {-->
<!--                            case "1":-->
<!--                                alert("登入成功！");-->
<!--                                localStorage.setItem("authorization", response.data.authorization);-->
<!--                                window.location.href = "/home";-->
<!--                                break;-->
<!--                            case "-1":-->
<!--                                alert("帳號或密碼錯誤，請重試");-->
<!--                                break;-->
<!--                        }-->
<!--                    } else {-->
<!--                        alert(response.message);-->
<!--                    }-->
<!--                },-->
<!--                error(xhr, status, error) {-->
<!--                    alert("伺服器連線失敗: " + error);-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->


</body>
</html>
