<!--footer area start-->
<footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-8 col-sm-8">
                    <div class="widgets_container footer_contact">
                        <h3>About us</h3>
                        <p>We are a team of designers and developers that
                            create high quality HTML Template, Woocommerce, Shopify Theme.</p>
                        <p><i class="icon icon-Pointer"></i> The Barn, Ullenhall, Henley in Arden
                            B578 5CC, England</p>
                        <p><i class="icon icon-Phone"></i> <a href="tel:+123.456.789">+123.456.789</a> - <a
                                href="tel:+123.456.678">+123.456.678</a></p>
                        <p><i class="icon icon-Mail"></i> <a href="#">#</a></p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <div class="widgets_container widget_menu">
                        <h3>Information</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widgets_container footer-linkup">
                        <h3>Our Twitter Feed</h3>
                        <p>Check out "Alice - Multipurpose Responsive #Magento #Theme" on <br> #Envato by <a href="#">@Plazathemes</a>
                            <br> #Themeforest <a href="#">https://t.co/DNdhAwzm88</a></p>
                        <p>Check Out "Emos - Multi Store Responsive #Magento #Theme" on #Envato by <br> <a href="#">@Plazathemes</a>
                            #Themeforest <a href="#">https://t.co/08oCVAr5dy</a></p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="widgets_container footer_instragam">
                        <h3>instagram</h3>
                        <div class="instagram_container">
                            <div class="instagram_thumb">
                                <a href="#"><img src="assets/img/about/instragam1.jpg" alt=""></a>
                                <div class="instagram_boxcmt">
                                    <span class="likecount">5</span>
                                    <span class="commentcount">1</span>
                                </div>
                            </div>
                            <div class="instagram_thumb">
                                <a href="#"><img src="assets/img/about/instragam2.jpg" alt=""></a>
                                <div class="instagram_boxcmt">
                                    <span class="likecount">5</span>
                                    <span class="commentcount">1</span>
                                </div>
                            </div>
                            <div class="instagram_thumb">
                                <a href="#"><img src="assets/img/about/instragam3.jpg" alt=""></a>
                                <div class="instagram_boxcmt">
                                    <span class="likecount">5</span>
                                    <span class="commentcount">1</span>
                                </div>
                            </div>
                            <div class="instagram_thumb">
                                <a href="#"><img src="assets/img/about/instragam4.jpg" alt=""></a>
                                <div class="instagram_boxcmt">
                                    <span class="likecount">5</span>
                                    <span class="commentcount">1</span>
                                </div>
                            </div>
                            <div class="instagram_thumb">
                                <a href="#"><img src="assets/img/about/instragam5.jpg" alt=""></a>
                                <div class="instagram_boxcmt">
                                    <span class="likecount">5</span>
                                    <span class="commentcount">1</span>
                                </div>
                            </div>
                            <div class="instagram_thumb">
                                <a href="#"><img src="assets/img/about/instragam2.jpg" alt=""></a>
                                <div class="instagram_boxcmt">
                                    <span class="likecount">5</span>
                                    <span class="commentcount">1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p>
                            Copyright &copy; 2024.Company name All rights reserved.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer area end-->