<!--header area start-->

<style>
    #unreadNoticeCount, #unreadNoticeCount-android {
        position: absolute;
        top: -9px;
        right: -11px;
        width: 19px;
        height: 19px;
        line-height: 19px;
        background: #F53737;
        border-radius: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 11px;
        color: #fff;
    }
</style>
<!--offcanvas menu area start-->
<div class="off_canvars_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="header_account_area">
                        <!-- 通知 -->
                        <div class="header_account-list top_links mini_cart_wrapper">
                            <a href="/memberNotice/all">
                                <i class="icon icon-Mail" id="icon-Notice-android"></i><span
                                    id="unreadNoticeCount-android" class="item_count" style="display: none"></span>
                            </a>
                        </div>
                        <div class="header_account-list top_links">
                            <a href="javascript:void(0)"><i class="icon icon-User" id="icon-User-android"></i></a>
                            <div class="dropdown_links">
                                <div class="dropdown_links_list">
                                    <h3>會員中心</h3>
                                    <ul>
                                        <li><a href="#" id="member-detail-android">查看/修改會員資料</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown_links_list">
                                    <h3>錢包管理</h3>
                                    <ul>
                                        <li><a href="#" id="wallet-history-android">錢包交易紀錄</a>
                                        </li>
                                        <li><a href="#" id="wallet-add-android">儲值錢包</a>
                                        </li>
                                        <li><a href="#" id="wallet-withdraw-android">申請提領</a>
                                        </li>
                                        <li><a href="#" id="wallet-withdraw-history-android">申請提領紀錄</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown_links_list">
                                    <h3></h3>
                                    <ul>
                                        <li id="sign-in-android"><a href="/member/login">登入</a></li>
                                        <li id="sign-out-android" style="display: none;"><a href="/">登出</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="/home">首頁</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/product/buyer/select">一般商城</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/bidproduct">競標商城</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/market">線下市集</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/chatroom/chat/test">聊天室</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/service/helper">客服訊息</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">賣家中心</a>
                                <ul class="sub-menu">
                                    <li><a href="/product/seller/select">一般商品管理</a></li>
                                    <li><a href="/seller/bidproduct">競標商品管理</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--offcanvas menu area end-->
<header>
    <div class="main_header sticky-header">
        <div class="container-fluid">
            <div class="header_container">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/home"><img src="/assets/img/logo/1Logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <!--main menu start-->
                        <div class="main_menu menu_center menu_position">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/home">首頁</a>
                                    </li>
                                    <li><a href="/product/buyer/select">一般商城<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="/product/buyer/select">&#x1F451; 商品類別 </a>
                                                <ul>
                                                    <a th:href="@{/buyer/proCategory/getOne/1}">3C</a>
                                                    <a th:href="@{/buyer/proCategory/getOne/2}">家具</a>
                                                    <a th:href="@{/buyer/proCategory/getOne/3}">服飾</a>
                                                    <a th:href="@{/buyer/proCategory/getOne/4}">彩妝</a>
                                                    <a th:href="@{/buyer/proCategory/getOne/5}">收藏品</a>
                                                    <a th:href="@{/buyer/proCategory/getOne/6}">多啦口袋</a>

                                                    <!--                                                    <li><a href="/buyer/proCategory/getOne/1">3C</a></li>-->
<!--                                                    <li><a href="/buyer/proCategory/getOne/2">家具</a></li>-->
<!--                                                    <li><a href="/buyer/proCategory/getOne/3">服飾</a></li>-->
<!--                                                    <li><a href="/buyer/proCategory/getOne/4">彩妝</a></li>-->
<!--                                                    <li><a href="/buyer/proCategory/getOne/5">收藏品</a></li>-->
<!--                                                    <li><a href="/buyer/proCategory/getOne/6">多啦口袋</a></li>-->
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/bidproduct">競標商城</a></li>
                                    <li><a href="/market">線下市集</a></li>
                                    <li><a href="/chatroom/chat/test">聊天室</a></li>
                                    <li><a href="/service/helper">客服訊息</a></li>
                                    <li><a href="/seller/bidproduct">賣家中心<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="/product/seller/select">一般商品管理</a></li>
                                            <li><a href="/seller/bidproduct">競標商品管理</a></li>
                                            <li><a href="/market/allRegister">市集報名歷史紀錄</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!--main menu end-->
                    </div>
                    <div class="col-lg-2">
                        <div class="header_account_area">
                            <!-- 購物車 -->
                            <div class="header_account-list  mini_cart_wrapper">
                                <a id="cart_count" href="/order/cart"></a>
                                <!--mini cart-->
                                <div class="mini_cart" style="overflow: auto">
                                    <div class="cart_gallery">
                                    </div>
                                    <div class="mini_cart_table">
                                        <div class="cart_table_border">
                                            <div class="cart_total">
                                                <span>總金額:</span>
                                                <span class="price"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini_cart_footer">
                                        <div class="cart_button">
                                            <a href="/order/cart"><i class="fa fa-shopping-cart"></i> 查看購物車</a>
                                        </div>
                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                            <!-- 通知 -->
                            <div class="header_account-list top_links">
                                <a href="/memberNotice/all">
                                    <i class="icon icon-Mail" id="icon-Notice"></i><span
                                        id="unreadNoticeCount" class="item_count" style="display: none"></span>
                                </a>
                            </div>

                            <!-- 會員 -->
                            <div class="header_account-list top_links">
                                <a href="#"><i class="icon icon-User" id="icon-User"></i></a>
                                <div class="dropdown_links">
                                    <div class="dropdown_links_list">
                                        <h3>會員中心</h3>
                                        <ul>
                                            <li><a href="#" id="member-detail">查看/修改會員資料</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown_links_list">
                                        <h3>錢包管理</h3>
                                        <ul>
                                            <li><a href="#" id="wallet-history">錢包交易紀錄</a>
                                            </li>
                                            <li><a href="#" id="wallet-add">儲值錢包</a>
                                            </li>
                                            <li><a href="#" id="wallet-withdraw">申請提領</a>
                                            </li>
                                            <li><a href="#" id="wallet-withdraw-history">申請提領紀錄</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown_links_list">
                                        <h3></h3>
                                        <ul>
                                            <li id="sign-in"><a href="/member/login">登入</a></li>
                                            <li id="sign-out" style="display: none;"><a href="/">登出</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header area end-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">提示</h5>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- 錯誤訊息將顯示在這裡 -->
            </div>
        </div>
    </div>
</div>
<!--js-->
<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<script src="/js/api-response-utils.js"></script>
<script src="/js/icon-member.js"></script>
<script src="/js/cart.js"></script>
<script src="/js/login-guard.js"></script>
