<!--header area start-->

<style>
    #unreadNoticeCount, #unreadNoticeCount-android {
        position: absolute;
        top: -9px;
        right: -11px;
        width: 19px;
        height: 19px;
        line-height: 19px;
        background: #F53737;
        border-radius: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 11px;
        color: #fff;
    }
</style>
<!--offcanvas menu area start-->
<div class="off_canvars_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="header_account_area">
                        <div class="header_account-list search_bar">
                            <a href="javascript:void(0)"><span class="icon icon-Search"></span></a>
                            <div class="dropdown_search">
                                <div class="search_close_btn">
                                    <a href="#"><i class="ion-close-round"></i></a>
                                </div>
                                <form action="#">
                                    <input placeholder="Search entire store here ..." type="text">
                                    <button type="submit"><span class="icon icon-Search"></span></button>
                                </form>
                            </div>
                        </div>


                        <!-- 通知 -->
                        <div class="header_account-list top_links mini_cart_wrapper">
                            <a href="/memberNotice/all">
                                <i class="icon icon-Mail" id="icon-Notice-android"></i><span
                                    id="unreadNoticeCount-android" class="item_count" style="display: none"></span>
                            </a>
                        </div>
                        <div class="header_account-list top_links">
                            <a href="javascript:void(0)"><i class="icon icon-User" id="icon-User-android"></i></a>
                            <div class="dropdown_links">
                                <div class="dropdown_links_list">
                                    <h3>會員中心</h3>
                                    <ul>
                                        <li><a href="#" id="member-detail-android">查看/修改會員資料</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown_links_list">
                                    <h3>錢包管理</h3>
                                    <ul>
                                        <li><a href="#">查看錢包餘額</a>
                                        </li>
                                        <li><a href="#">儲值錢包</a>
                                        </li>
                                        <li><a href="#">申請提領</a>
                                        </li>
                                        <li><a href="#">申請紀錄</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown_links_list">
                                    <h3>我的優惠券</h3>
                                    <ul>
                                        <li><a href="#">查看優惠券</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown_links_list">
                                    <h3></h3>
                                    <ul>
                                        <li id="sign-in-android"><a href="/member/login">登入</a></li>
                                        <li id="sign-out-android" style="display: none;"><a href="/">登出</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="/home">首頁</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">Shop Layouts</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop.html">shop</a></li>
                                            <li><a href="shop-fullwidth.html">Full Width</a></li>
                                            <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                            <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                            <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                            <li><a href="shop-list.html">List View</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">other Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="cart.html">cart</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="my-account.html">my account</a></li>
                                            <li><a href="404.html">Error 404</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Product Types</a>
                                        <ul class="sub-menu">
                                            <li><a href="product-details.html">product details</a></li>
                                            <li><a href="product-sidebar.html">product sidebar</a></li>
                                            <li><a href="product-grouped.html">product grouped</a></li>
                                            <li><a href="variable-product.html">product variable</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                </ul>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">pages </a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="contact.html"> Contact Us</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shop.html"> Specials</a>
                            </li>
                        </ul>
                    </div>

                    <div class="offcanvas_footer">
                        <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--offcanvas menu area end-->
<header>
    <div class="main_header sticky-header">
        <div class="container-fluid">
            <div class="header_container">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/home"><img src="/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <!--main menu start-->
                        <div class="main_menu menu_center menu_position">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/home">首頁</a>
                                    </li>
                                    <li class="mega_items"><a href="shop.html">一般商城<i class="fa fa-angle-down"></i></a>
                                        <div class="mega_menu">
                                            <ul class="mega_menu_inner">
                                                <li><a href="#">Shop Layouts</a>
                                                    <ul>
                                                        <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                        <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                        <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                        <li><a href="shop-right-sidebar-list.html"> Right Sidebar
                                                            list</a></li>
                                                        <li><a href="shop-list.html">List View</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">other Pages</a>
                                                    <ul>
                                                        <li><a href="cart.html">cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="my-account.html">my account</a></li>
                                                        <li><a href="404.html">Error 404</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Product Types</a>
                                                    <ul>
                                                        <li><a href="shop.html">product details</a></li>
                                                        <li><a href="product-sidebar.html">product sidebar</a></li>
                                                        <li><a href="product-grouped.html">product grouped</a></li>
                                                        <li><a href="variable-product.html">product variable</a></li>

                                                    </ul>
                                                </li>
                                                <li><a href="#">Running Shoes</a>
                                                    <ul>
                                                        <li><a href="product-details.html">Arugula</a></li>
                                                        <li><a href="product-details.html">Beets</a></li>
                                                        <li><a href="product-details.html">Cabbage</a></li>
                                                        <li><a href="product-details.html">Carrots</a></li>
                                                        <li><a href="product-details.html">Kale</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="blog.html">競標商城<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="blog-details.html">blog details</a></li>
                                            <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                            <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">線下市集</a></li>
                                    <li><a href="contact.html">聊天室</a></li>
                                    <li><a href="shop.html">客服訊息</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--main menu end-->
                    </div>
                    <div class="col-lg-2">
                        <div class="header_account_area">
                            <!-- 搜尋 -->
                            <div class="header_account-list search_bar">
                                <a href="javascript:void(0)"><span class="icon icon-Search"></span></a>
                                <div class="dropdown_search">
                                    <div class="search_close_btn">
                                        <a href="#"><i class="ion-close-round"></i></a>
                                    </div>
                                    <form action="#">
                                        <input placeholder="Search entire store here ..." type="text">
                                        <button type="submit"><span class="icon icon-Search"></span></button>
                                    </form>
                                </div>
                            </div>
                            <!-- 購物車 -->
                            <div class="header_account-list  mini_cart_wrapper">
                                <a id="cart_count" href="/order/cart"></a>
                                <!--mini cart-->
                                <div class="mini_cart" style="overflow: auto">
                                    <div class="cart_gallery">
                                    </div>
                                    <div class="mini_cart_table">
                                        <div class="cart_table_border">
                                            <div class="cart_total">
                                                <span>總金額:</span>
                                                <span class="price"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini_cart_footer">
                                        <div class="cart_button">
                                            <a href="/order/cart"><i class="fa fa-shopping-cart"></i> 查看購物車</a>
                                        </div>
                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                            <!-- 通知 -->
                            <div class="header_account-list top_links">
                                <a href="/memberNotice/all">
                                    <i class="icon icon-Mail" id="icon-Notice"></i><span
                                        id="unreadNoticeCount" class="item_count" style="display: none"></span>
                                </a>
                            </div>

                            <!-- 會員 -->
                            <div class="header_account-list top_links">
                                <a href="#"><i class="icon icon-User" id="icon-User"></i></a>
                                <div class="dropdown_links">
                                    <div class="dropdown_links_list">
                                        <h3>會員中心</h3>
                                        <ul>
                                            <li><a href="#" id="member-detail">查看/修改會員資料</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown_links_list">
                                        <h3>錢包管理</h3>
                                        <ul>
                                            <li><a href="#">查看錢包餘額</a>
                                            </li>
                                            <li><a href="#">儲值錢包</a>
                                            </li>
                                            <li><a href="#">申請提領</a>
                                            </li>
                                            <li><a href="#">申請紀錄</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown_links_list">
                                        <h3>我的優惠券</h3>
                                        <ul>
                                            <li><a href="#">查看優惠券</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown_links_list">
                                        <h3></h3>
                                        <ul>
                                            <li id="sign-in"><a href="/member/login">登入</a></li>
                                            <li id="sign-out" style="display: none;"><a href="/">登出</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header area end-->
<!--js-->
<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<script src="/js/api-response-utils.js"></script>
<script src="/js/icon-member.js"></script>
<script src="/js/cart.js"></script>
