<div class="col-sm-12 col-md-3 col-lg-3">
    <!-- Nav tabs -->
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a href="#" class="nav-link active" id="member-center">會員中心</a></li>
            <li><a href="#orders" class="nav-link">優惠券</a></li>
            <li><a href="/member/walletHistory" class="nav-link">錢包管理</a></li>
            <li><a href="#address" class="nav-link">商品收藏</a></li>
            <li><a href="#account-details" class="nav-link">商品訂單</a></li>
            <li><a href="#address" class="nav-link">競標紀錄</a></li>
            <li><a href="#account-details" class="nav-link">競標商品訂單</a></li>
            <li><a href="#address" class="nav-link">市集報名紀錄</a></li>
            <li><a href="/memberNotice/all" class="nav-link">通知</a></li>
        </ul>
    </div>
</div>

<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function() {
        // 點擊會員中心連結時觸發事件
        $("#member-center").click(function(e) {
            e.preventDefault();
            // 檢查 localstorage 中是否存在驗證碼
            let verifyCode = localStorage.getItem("authorization");

            // 如果本地存儲中存在驗證碼，則跳轉到會員資料畫面
            if (verifyCode) {
                window.location.href = "/member/detail";
            } else {
                // 如果本地存儲中不存在驗證碼，則跳轉到登入畫面
                window.location.href = "/member/login";
            }
        });
    });
</script>