<div class="col-sm-12 col-md-3 col-lg-3">
    <!-- Nav tabs -->
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a href="/member/member-detail" class="nav-link active">會員中心</a></li>
            <li><a href="#orders" class="nav-link">優惠券</a></li>
            <li><a href="#downloads" class="nav-link">我的錢包</a></li>
            <li><a href="#address" class="nav-link">商品收藏</a></li>
            <li><a href="#account-details" class="nav-link">商品訂單</a></li>
            <li><a href="#address" class="nav-link">競標紀錄</a></li>
            <li><a href="#account-details" class="nav-link">競標商品訂單</a></li>
            <li><a href="#address" class="nav-link">市集報名紀錄</a></li>
            <li><a href="#test" class="nav-link">test</a></li>
        </ul>
    </div>
</div>