<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信箱驗證結果</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!--css-->
    <th:block th:replace="~{/fragments/css}"/>
    <style>
        .row {
            margin: auto;
            justify-content: center;
        }

        .center-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .alert {
            display: none;
            width: 100%;
            max-width: 600px;
            margin: auto;
        }
    </style>
</head>
<body>
<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!-- main start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active" id="account-details">
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <!-- 我的 Code -->
                                        <div class="center-container">
                                            <div class="container">
                                                <div id="successMessage" class="alert alert-success" role="alert">
                                                    信箱驗證成功
                                                </div>
                                                <div id="expiredMessage" class="alert alert-warning" role="alert">
                                                    驗證碼過期，請重試
                                                </div>
                                                <div id="errorMessage" class="alert alert-danger" role="alert">
                                                    驗證碼錯誤
                                                </div>
                                                <div id="alreadyVerifiedMessage" class="alert alert-info" role="alert">
                                                    驗證碼失效，該信箱已驗證過
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main end   -->

<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

<!--js-->
<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<th:block th:replace="~{/fragments/js}"/>
<script src="/js/api-response-utils.js"></script>
<script>
    let userData = {};
    // 獲取 URL 中的查詢字符串
    let queryString = window.location.search;
    // 將查詢字符串轉換為對象形式
    let params = new URLSearchParams(queryString);
    // 獲取特定參數的值
    let verifyCode = params.get("verifyCode");
    userData["verifyCode"] = verifyCode;
    $(document).ready(function () {
        $.ajax({
            url: "/api/member/verify",
            method: "post",
            headers: {
                "authorization": localStorage.getItem("authorization")
            },
            contentType: "application/json",
            data: JSON.stringify(userData),
            success(response) {
                apiResponseJSON(response, {
                    onSuccess(data) {
                        showVerifyResult(data.status);
                    },
                    onError(message) {
                        console.log(message);
                    }
                });
            },
            error(xhr, status, error) {
                $("#modalBody").html("伺服器連線失敗: " + error);
                $("#myModal").modal("show");
            }
        });

        // 顯示相應的驗證結果
        function showVerifyResult(result) {
            // 隱藏所有消息
            $(".alert").hide();

            // 根據結果顯示相應的消息
            if (result === "1") {
                $("#successMessage").show();
            } else if (result === "0") {
                $("#expiredMessage").show();
            } else if (result === "-1") {
                $("#errorMessage").show();
            } else if (result === "-2") {
                $("#alreadyVerifiedMessage").show();
            }
        }
    });
</script>
</body>
</html>