<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信箱驗證</title>
    <!--Filepond JS-->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <!--    Filepond CSS    -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet"/>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
          rel="stylesheet"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!--css-->
    <th:block th:replace="~{/fragments/css}"/>
</head>
<body>
<h2>信箱驗證</h2>
<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!--breadcrumb-->
<th:block th:replace="~{/fragments/breadcrumb}"/>

<!-- main start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <!-- Sidebar -->
                <th:block th:replace="~{/fragments/sidebar-member-home}"/>

                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active" id="account-details">
                            <h3>信箱驗證</h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">

                                        <!-- 我的 Code -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main end   -->

<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

<!--js-->
<th:block th:replace="~{/fragments/js}"/>
<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<script src="/js/api-response-utils.js"></script>
<script>
    let userData = {};
    // 獲取 URL 中的查詢字符串
    let queryString = window.location.search;
    // 將查詢字符串轉換為對象形式
    let params = new URLSearchParams(queryString);
    // 獲取特定參數的值
    let verifyCode = params.get("verifyCode");
    userData["verifyCode"] = verifyCode;
    $(document).ready(function () {
        $.ajax({
            url: "/api/member/verify",
            method: "post",
            headers: {
                "authorization": localStorage.getItem("authorization")
            },
            contentType: "application/json",
            data: JSON.stringify(userData),
            success(response) {
                apiResponseJSON(response, {
                    onSuccess(data) {
                        switch (data.status) {
                            case "0":
                                alert("驗證碼過期，請重試...");
                                break;
                            case "1":
                                alert("驗證成功！");
                                window.location.href = "/member/detail";
                                break;
                            case "-1":
                                alert("驗證碼錯誤！");
                                break;
                            case "-2":
                                alert("驗證碼失效，該信箱已驗證過！");
                                break;
                        }
                    },
                    onError(message) {
                        console.log(message);
                    }
                });
            },
            error(xhr, status, error) {
                alert("伺服器連線失敗: " + error);
            }
        });
    });

</script>
</body>
</html>