<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員登入</title>
    <!--Filepond JS-->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <!--    Filepond CSS    -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet"/>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
          rel="stylesheet"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!--css-->
    <th:block th:replace="~{/fragments/css}"/>
</head>
<body>
<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!--breadcrumb-->
<th:block th:replace="~{/fragments/breadcrumb}"/>

<!-- main start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <!-- Sidebar -->
                <th:block th:replace="~{/fragments/sidebar-member-home}"/>

                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active" id="account-details">
                            <h3>登入</h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form id="login-form">
                                            <div id="errorMessage" style="color: red;"></div>
                                            <label for="memberAccount">帳號:</label>
                                            <input type="text" id="memberAccount" name="memberAccount"><br><br>
                                            <label for="cid">密碼:</label>
                                            <input type="password" id="cid" name="cid"><br><br>
                                            <button type="submit">登入</button>
                                            <button id="memberCreate" type="button">註冊</button>
                                            <button id="memberCidForget" type="button">忘記密碼</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main end   -->

<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

<!--js-->
<th:block th:replace="~{/fragments/js}"/>
<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<script src="/js/api-response-utils.js"></script>
<script>
    let userData = {};
    let errorMessage = "";
    $(document).ready(function () {
        $("#login-form").submit(function (e) {
            e.preventDefault();
            errorMessage = "";
            let memberAccount = $("#memberAccount").val().trim();
            if (memberAccount === "") {
                errorMessage += "<li>請輸入帳號</li>";
            }
            let cid = $("#cid").val().trim();
            if (cid === "") {
                errorMessage += "<li>請輸入密碼</li>";
            }

            if (errorMessage !== "") {
                document.getElementById("errorMessage").innerHTML = "<ul>" + errorMessage + "</ul>";
                return;
            }

            userData = {
                memberAccount: memberAccount,
                cid: cid
            };

            $("#errorMessage").text("");

            $.ajax({
                url: "/api/member/login",
                method: "post",
                contentType: "application/json",
                data: JSON.stringify(userData),
                success(response) {
                    // 登入成功後的處理
                    if (apiResponseJSON(response)) {
                        switch (response.data.status) {
                            case "0":
                                alert("登入成功！(提醒：信箱尚未驗證)");
                                localStorage.setItem("authorization", response.data.authorization);
                                window.location.href = "/";
                                break;
                            case "1":
                                alert("登入成功！");
                                localStorage.setItem("authorization", response.data.authorization);
                                window.location.href = "/";
                                break;
                            case "-1":
                                alert("帳號或密碼錯誤，請重試");
                                break;
                        }
                    } else {
                        console.log(response.message);
                    }
                },
                error(xhr, status, error) {
                    alert("伺服器連線失敗: " + error);
                }
            });
        });

        $("#memberCreate").click(function () {
            window.location.href = "/member/create";
        });

        $("#memberCidForget").click(function () {
            window.location.href = "/member/cidForget";
        });
    });
</script>
</body>
</html>
