<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員登入</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!--css-->
    <th:block th:replace="~{/fragments/css}"/>
    <style>
        .row {
            margin: auto;
            justify-content: center;
        }

        .btn-primary {
            color: #fff !important;
            background-color: #007bff !important;
            border-color: #007bff !important;
        }

        .btn-secondary {
            color: #fff !important;
            background-color: #6c757d !important;
            border-color: #6c757d !important;
        }

        .btn-warning {
            color: #212529 !important;
            background-color: #ffc107 !important;
            border-color: #ffc107 !important;
        }
    </style>
</head>
<body>
<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!-- main start -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active" id="account-details">
                            <h3 style="text-align: center;">會員登入</h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form id="login-form">
                                            <label for="memberAccount">帳號:</label>
                                            <input type="text" id="memberAccount" name="memberAccount"><br><br>
                                            <label for="cid">密碼:</label>
                                            <input type="password" id="cid" name="cid"><br><br>
                                            <button type="submit" class="btn btn-primary">登入</button>
                                            <button type="button" id="memberCidForget" class="btn btn-secondary">
                                                忘記密碼
                                            </button>
                                            <button type="button" id="memberCreate" class="btn btn-warning">
                                                註冊
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main end -->

<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

<!--js-->
<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<th:block th:replace="~{/fragments/js}"/>
<script src="/js/api-response-utils.js"></script>
<script>
    let userData = {};
    let errorMessage = "";
    $(document).ready(function () {
        $("#login-form").submit(function (e) {
            e.preventDefault();
            errorMessage = "";
            let memberAccount = $("#memberAccount").val().trim();
            if (memberAccount === "") {
                errorMessage += "<li>請輸入帳號</li>";
            }
            let cid = $("#cid").val().trim();
            if (cid === "") {
                errorMessage += "<li>請輸入密碼</li>";
            }

            if (errorMessage !== "") {
                $("#modalBody").html("<ul>" + errorMessage + "</ul>");
                $("#myModal").modal("show");
                return false;
            }

            userData = {
                memberAccount: memberAccount,
                cid: cid
            };

            $("#errorMessage").text("");

            $.ajax({
                url: "/api/member/login",
                method: "post",
                contentType: "application/json",
                data: JSON.stringify(userData),
                success(response) {
                    apiResponseJSON(response, {
                        onSuccess(data) {
                            let targetPage;
                            switch (data.status) {
                                case "0":
                                    $("#modalBody").html("登入成功！(提醒：信箱尚未驗證)");
                                    localStorage.setItem("authorization", data.authorization);
                                    $("#myModal").modal("show");
                                    targetPage = localStorage.getItem("targetPage");
                                    if (targetPage) {
                                        localStorage.removeItem("targetPage"); // 登入後移除儲存的目標頁面
                                        setTimeout(function () {
                                            window.location.href = targetPage; // 導向目標頁面
                                        }, 2000);
                                    } else {
                                        setTimeout(function () {
                                            window.location.href = "/";
                                        }, 2000);
                                    }
                                    break;
                                case "1":
                                    $("#modalBody").html("登入成功！");
                                    localStorage.setItem("authorization", data.authorization);
                                    $("#myModal").modal("show");
                                    targetPage = localStorage.getItem("targetPage");
                                    if (targetPage) {
                                        localStorage.removeItem("targetPage"); // 登入後移除儲存的目標頁面
                                        setTimeout(function () {
                                            window.location.href = targetPage; // 導向目標頁面
                                        }, 2000);
                                    } else {
                                        setTimeout(function () {
                                            window.location.href = "/";
                                        }, 2000);
                                    }
                                    break;
                                case "-1":
                                    $("#modalBody").html("帳號或密碼錯誤，請重試");
                                    $("#myModal").modal("show");
                                    break;
                            }
                        },
                        onError(message) {
                            console.log(message);
                        }
                    });
                },
                error(xhr, status, error) {
                    $("#modalBody").html("伺服器連線失敗: " + error);
                    $("#myModal").modal("show");
                }
            });
        });

        $("#memberCreate").click(function () {
            window.location.href = "/member/create";
        });

        $("#memberCidForget").click(function () {
            window.location.href = "/member/cidForget";
        });
    });
</script>
</body>
</html>
