<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首頁</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!--css-->
    <th:block th:replace="~{/fragments/css}"/>

</head>

<body>

<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!--slider area start-->
<section class="slider_section mb-30">
    <div class="slider_area owl-carousel">
        <div th:each="news : ${newsList}" class="single_slider d-flex align-items-center" th:data-bgimg="${news.getImageBase64()}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h3 th:text="${news.getTitle()}"></h3>
                            <a class="button" th:href="'/news/'+${news.getNewsId()}">查看詳情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->

<!--product area start-->
<div class="product_area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>一般商品</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3" th:each="product : ${productPage.content}">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img"
                                   th:if="${product.productImgs != null and product.productImgs.size() > 0}"
                                   th:id="'productImgTd_' + ${product.productImgs[0].imageId}"
                                   th:href="@{/buyer/product/getOne/{productId}(productId=${product.productId})}">
                                    <img th:src="'data:image/jpg;base64,'+${product.productImgs[0].imageBase64}"
                                         style="height: 150px;width: 150px" alt=""/>
                                </a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_content grid_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name" th:text="${product.name}">
                                    <span style="font-size: large;"></span></h4>
                                <div class="price_box">
                                    <span class="current_price" th:text="${product.price}"></span>
                                </div>
                                <div class="add_to_cart">
                                    <a title="Add to cart" th:onclick="|addToCart(${product.productId}, 1);|" data-product-id="${product.productId}">加入購物車</a>
                                </div>'
                            </div>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product area end-->

<!--bid product area start-->
<div class="product_area  mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>競標商品</h2>
                </div>
            </div>
        </div>
        <div class="row shop_wrapper" id="productList">
            <!-- <div class="product_carousel product_column4 owl-carousel"> -->
            <!-- </div> -->
        </div>
    </div>
</div>
<!--bid product area end-->

<!--market area start-->
<!-- <section class="blog_section"> -->
<!--     <div class="container"> -->
<!--         <div class="row"> -->
<!--             <div class="col-12"> -->
<!--                 <div class="section_title"> -->
<!--                     <h2>線下市集</h2> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--         <div class="row"> -->
<!--             <div class="blog_carousel blog_column3 owl-carousel"> -->
<!--                 <div class="col-lg-3"> -->
<!--                     <article class="single_blog"> -->
<!--                         <figure> -->
<!--                             <div class="blog_thumb"> -->
<!--                                 <a href="blog-details.html"><img src="/assets/img/blog/blog1.jpg" alt=""></a> -->
<!--                             </div> -->
<!--                             <figcaption class="blog_content"> -->
<!--                                 <h4 class="post_title"><a href="blog-details.html">Lorem ipsum dolor sit amet, -->
<!--                                     consectetur adipisicing elit. </a></h4> -->
<!--                                 <div class="articles_date"> -->
<!--                                     <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span> -->
<!--                                     <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span> -->
<!--                                 </div> -->
<!--                                 <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium -->
<!--                                     arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p> -->
<!--                                 <a href="#">+ Read More</a> -->
<!--                             </figcaption> -->
<!--                         </figure> -->
<!--                     </article> -->
<!--                 </div> -->
<!--                 <div class="col-lg-3"> -->
<!--                     <article class="single_blog"> -->
<!--                         <figure> -->
<!--                             <div class="blog_thumb"> -->
<!--                                 <a href="blog-details.html"><img src="/assets/img/blog/blog2.jpg" alt=""></a> -->
<!--                             </div> -->
<!--                             <figcaption class="blog_content"> -->
<!--                                 <h4 class="post_title"><a href="blog-details.html"> est ad quia aperiam unde quam hic, -->
<!--                                     quae optio quis.</a></h4> -->
<!--                                 <div class="articles_date"> -->
<!--                                     <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span> -->
<!--                                     <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span> -->
<!--                                 </div> -->
<!--                                 <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium -->
<!--                                     arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p> -->
<!--                                 <a href="#">+ Read More</a> -->
<!--                             </figcaption> -->
<!--                         </figure> -->
<!--                     </article> -->
<!--                 </div> -->
<!--                 <div class="col-lg-3"> -->
<!--                     <article class="single_blog"> -->
<!--                         <figure> -->
<!--                             <div class="blog_thumb"> -->
<!--                                 <a href="blog-details.html"><img src="/assets/img/blog/blog3.jpg" alt=""></a> -->
<!--                             </div> -->
<!--                             <figcaption class="blog_content"> -->
<!--                                 <h4 class="post_title"><a href="blog-details.html"> Aut doloremque, optio optio delectus -->
<!--                                     est quae molestiae. </a></h4> -->
<!--                                 <div class="articles_date"> -->
<!--                                     <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span> -->
<!--                                     <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span> -->
<!--                                 </div> -->
<!--                                 <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium -->
<!--                                     arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p> -->
<!--                                 <a href="#">+ Read More</a> -->
<!--                             </figcaption> -->
<!--                         </figure> -->
<!--                     </article> -->
<!--                 </div> -->
<!--                 <div class="col-lg-3"> -->
<!--                     <article class="single_blog"> -->
<!--                         <figure> -->
<!--                             <div class="blog_thumb"> -->
<!--                                 <a href="blog-details.html"><img src="/assets/img/blog/blog4.jpg" alt=""></a> -->
<!--                             </div> -->
<!--                             <figcaption class="blog_content"> -->
<!--                                 <h4 class="post_title"><a href="blog-details.html">est ad quia aperiam unde quam hic, -->
<!--                                     quae optio quis. </a></h4> -->
<!--                                 <div class="articles_date"> -->
<!--                                     <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span> -->
<!--                                     <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span> -->
<!--                                 </div> -->
<!--                                 <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium -->
<!--                                     arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p> -->
<!--                                 <a href="#">+ Read More</a> -->
<!--                             </figcaption> -->
<!--                         </figure> -->
<!--                     </article> -->
<!--                 </div> -->
<!--                 <div class="col-lg-3"> -->
<!--                     <article class="single_blog"> -->
<!--                         <figure> -->
<!--                             <div class="blog_thumb"> -->
<!--                                 <a href="blog-details.html"><img src="/assets/img/blog/blog5.jpg" alt=""></a> -->
<!--                             </div> -->
<!--                             <figcaption class="blog_content"> -->
<!--                                 <h4 class="post_title"><a href="blog-details.html">Lorem ipsum dolor sit amet, -->
<!--                                     consectetur adipisicing elit. </a></h4> -->
<!--                                 <div class="articles_date"> -->
<!--                                     <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span> -->
<!--                                     <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span> -->
<!--                                 </div> -->
<!--                                 <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium -->
<!--                                     arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p> -->
<!--                                 <a href="#">+ Read More</a> -->
<!--                             </figcaption> -->
<!--                         </figure> -->
<!--                     </article> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </section> -->
<!--market area end-->

<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

<!--modal-->
<th:block th:replace="~{/fragments/modal}"/>

<!--js-->
<th:block th:replace="~{/fragments/js}"/>
<script>
    $.ajax({
        url: '/api/bidproduct/query',
        type: 'GET',
        data: {
            status: 2,
        },
        dataType: 'json',
        success: function (response) {
            if (response.code === "0") {
                let products = response.data.slice(0, 4);
                let productList = $('#productList');

                // Clear any existing products
                productList.empty();

                // Append each product to the product list
                $.each(products, function (index, product) {
                    let productHtml = `
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <article class="single_product">
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" href="/bidproduct-detail/${product.productId}">
                                        <img src="data:image/jpeg;base64, ${product.images[0].image}" alt="${product.name}" style="height: 200px;">
                                    </a>
                                </div>
                                <div class="product_content grid_content">
                                    <h4 class="product_name text-truncate">
                                        <a href="/bidproduct-detail/${product.productId}">${product.name}</a>
                                    </h4>
                                    <div class="price_box">
                                        <span>起標價: </span>
                                        <span class="current_price">NT$${product.startPrice}</span>
                                    </div>
                                    <div>
                                        <span>${product.status === "競標中" ? product.endTime : "已結標" }</span>
                                    </div>
                                    <div class="add_to_cart2" style="margin-top: 16px">
                                        <a href="/bidproduct-detail/${product.productId}" title="Add to cart"
                                           style="color: #fff; background: #F53737; border-color: #F53737; line-height: 36px; padding: 5px 30px; border-radius: 25px">去出價</a>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                `;
                    productList.append(productHtml);
                });
            } else {
                console.error('Error: ' + response.message);
            }
        },
        error: function (xhr, status, error) {
            console.error('Error: ' + error);
        }
    });

</script>
</body>
</html>