<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首頁</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!--css-->
    <th:block th:replace="~{/fragments/css}"/>

</head>

<body>

<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!--slider area start-->
<section class="slider_section mb-30">
    <div class="slider_area owl-carousel">
        <div th:each="news : ${newsList}" class="single_slider d-flex align-items-center" th:data-bgimg="${news.getImageBase64()}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h3 th:text="${news.getTitle()}"></h3>
                            <h1 th:text="${news.getTitle()}"></h1>
                            <a class="button" th:href="'/news/'+${news.getNewsId()}">查看詳情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->

<!--product area start-->
<div class="product_area  mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>一般商品</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                    <span class="label_sale">12%</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product5.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product6.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html"> suscipit tempora delectus
                                    officia a, possimus at ipsam.</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$220.00</span>
                                    <span class="old_price">$240.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                                <div class="swatches-colors">
                                    <ul>
                                        <li><a class="color1" href="javascript:void(0)"></a></li>
                                        <li><a class="color2" href="javascript:void(0)"></a></li>
                                        <li><a class="color3" href="javascript:void(0)"></a></li>
                                        <li><a class="color4" href="javascript:void(0)"></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product10.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product9.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html"> modi nisi cum officia error
                                    possimus, unde ipsam is.!</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$225.00</span>
                                    <span class="old_price">$235.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                                <div class="swatches-colors">
                                    <ul>
                                        <li><a class="color1" href="javascript:void(0)"></a></li>
                                        <li><a class="color2" href="javascript:void(0)"></a></li>
                                        <li><a class="color3" href="javascript:void(0)"></a></li>
                                        <li><a class="color4" href="javascript:void(0)"></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product1.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product2.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html">Lorem ipsum dolor sit amet,
                                    elit, the display aliquid!</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$142.00</span>
                                    <span class="old_price">$173.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                    <span class="label_sale">10%</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product3.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product4.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html"> quidem totam, voluptatem quae
                                    quasi possimus iusto!</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$145.00</span>
                                    <span class="old_price">$178.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                                <div class="swatches-colors">
                                    <ul>
                                        <li><a class="color1" href="javascript:void(0)"></a></li>
                                        <li><a class="color2" href="javascript:void(0)"></a></li>
                                        <li><a class="color3" href="javascript:void(0)"></a></li>
                                        <li><a class="color4" href="javascript:void(0)"></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product5.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product6.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html">iusto dignissimos illum. Quis
                                    provident ratione maiores.</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$179.00</span>
                                    <span class="old_price">$190.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product area end-->

<!--bid product area start-->
<div class="product_area  mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>競標商品</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                    <span class="label_sale">12%</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product5.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product6.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html"> suscipit tempora delectus
                                    officia a, possimus at ipsam.</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$220.00</span>
                                    <span class="old_price">$240.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                                <div class="swatches-colors">
                                    <ul>
                                        <li><a class="color1" href="javascript:void(0)"></a></li>
                                        <li><a class="color2" href="javascript:void(0)"></a></li>
                                        <li><a class="color3" href="javascript:void(0)"></a></li>
                                        <li><a class="color4" href="javascript:void(0)"></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product10.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product9.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html"> modi nisi cum officia error
                                    possimus, unde ipsam is.!</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$225.00</span>
                                    <span class="old_price">$235.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                                <div class="swatches-colors">
                                    <ul>
                                        <li><a class="color1" href="javascript:void(0)"></a></li>
                                        <li><a class="color2" href="javascript:void(0)"></a></li>
                                        <li><a class="color3" href="javascript:void(0)"></a></li>
                                        <li><a class="color4" href="javascript:void(0)"></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product1.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product2.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html">Lorem ipsum dolor sit amet,
                                    elit, the display aliquid!</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$142.00</span>
                                    <span class="old_price">$173.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                    <span class="label_sale">10%</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product3.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product4.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html"> quidem totam, voluptatem quae
                                    quasi possimus iusto!</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$145.00</span>
                                    <span class="old_price">$178.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                                <div class="swatches-colors">
                                    <ul>
                                        <li><a class="color1" href="javascript:void(0)"></a></li>
                                        <li><a class="color2" href="javascript:void(0)"></a></li>
                                        <li><a class="color3" href="javascript:void(0)"></a></li>
                                        <li><a class="color4" href="javascript:void(0)"></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <div class="label_product">
                                    <span class="label_new">new</span>
                                </div>
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product5.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product6.jpg" alt=""></a>
                                <div class="action_links">
                                    <ul>
                                        <li class="quick_button"><a href="#" data-toggle="modal"
                                                                    data-target="#modal_box" title="quick view"> <i
                                                class="icon icon-Eye"></i></a></li>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i
                                                class="icon icon-Heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i
                                                class="icon icon-MusicMixer"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                        <li><a href="#"><i class="icon icon-Star"></i></a></li>
                                    </ul>
                                </div>
                                <h4 class="product_name"><a href="product-details.html">iusto dignissimos illum. Quis
                                    provident ratione maiores.</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$179.00</span>
                                    <span class="old_price">$190.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="Add to cart">Add to Cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!--bid product area end-->

<!--market area start-->
<section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>線下市集</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog_carousel blog_column3 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/assets/img/blog/blog1.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title"><a href="blog-details.html">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. </a></h4>
                                <div class="articles_date">
                                    <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span>
                                </div>
                                <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                                    arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p>
                                <a href="#">+ Read More</a>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/assets/img/blog/blog2.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title"><a href="blog-details.html"> est ad quia aperiam unde quam hic,
                                    quae optio quis.</a></h4>
                                <div class="articles_date">
                                    <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span>
                                </div>
                                <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                                    arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p>
                                <a href="#">+ Read More</a>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/assets/img/blog/blog3.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title"><a href="blog-details.html"> Aut doloremque, optio optio delectus
                                    est quae molestiae. </a></h4>
                                <div class="articles_date">
                                    <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span>
                                </div>
                                <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                                    arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p>
                                <a href="#">+ Read More</a>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/assets/img/blog/blog4.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title"><a href="blog-details.html">est ad quia aperiam unde quam hic,
                                    quae optio quis. </a></h4>
                                <div class="articles_date">
                                    <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span>
                                </div>
                                <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                                    arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p>
                                <a href="#">+ Read More</a>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/assets/img/blog/blog5.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <h4 class="post_title"><a href="blog-details.html">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. </a></h4>
                                <div class="articles_date">
                                    <span><i class="fa fa-calendar" aria-hidden="true"></i> 18/12/2022</span>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> eCommerce Themes</span>
                                </div>
                                <p class="post_desc">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                                    arcu ex. Aenean posuere libero eu augue condimentum rhoncus praesent</p>
                                <a href="#">+ Read More</a>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!--market area end-->

<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

<!--modal-->
<th:block th:replace="~{/fragments/modal}"/>

<!--js-->
<th:block th:replace="~{/fragments/js}"/>

</body>
</html>