<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>會員登入</title>
</head>
<body>
<h2>登入頁面</h2>
<form id="loginForm">
    <label for="memberAccount">帳號:</label>
    <input type="text" id="memberAccount" name="memberAccount"><br><br>
    <label for="cid">密碼:</label>
    <input type="password" id="cid" name="cid"><br><br>
    <button type="submit">登入</button>
</form>
<script src="/js/vendor/jquery-3.7.1.min.js"></script>
<script src="/js/api-response-utils.js"></script>
<script>
    $(document).ready(function () {
        $('#loginForm').submit(function (e) {
            e.preventDefault(); // 防止表單提交
            let memberAccount = $('#memberAccount').val(); // 獲取使用者名稱
            let cid = $('#cid').val(); // 獲取密碼

            // 將使用者名稱和密碼組成JSON數據
            let userData = {
                memberAccount: memberAccount,
                cid: cid
            };

            $.ajax({
                url: '/mmdf/web/api/member/login',
                method: "post",
                contentType: 'application/json',
                data: JSON.stringify(userData),
                success(response) {
                    // 登入成功後的處理
                    if (apiResponseJSON(response)) {
                        switch (response.data.status) {
                            case "1":
                                alert('登入成功！');
                                window.data.location.href = "/mmdf/web/index";
                                break;
                            case "0":
                                alert('登入成功！(提醒：信箱尚未驗證)');
                                window.location.href = "/mmdf/web/index";
                                break;
                            case "-1":
                                alert('帳號或密碼錯誤，請重試');
                                break;
                        }
                    } else {
                        alert("登入失敗");
                    }
                },
                error(xhr, status, error) {
                    // 登入失敗後的處理
                    alert('伺服器連線失敗: ' + error);
                }
            });
        });
    });
</script>
</body>
</html>
