<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的報名紀錄</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!-- CSS -->
    <th:block th:replace="~{/fragments/css}"/>
    <style>
        .registration_records {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .dashboard_content {
            max-width: 900px;
            width: 100%;
        }
        .record-table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        .record-table th, .record-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center; /* 确保表格内容居中 */
        }
        .record-table th {
            background-color: #f2f2f2;
        }
        .record-table tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .cancel-button {
            background-color: #ffcccc;
            border: 1px solid red;
            color: black;
        }
        .modal-body {
            text-align: center; /* 确保模态框内容居中 */
        }
        .modal-footer {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<!-- Header -->
<th:block th:replace="~{/fragments/header}"/>
<!-- Breadcrumb -->
<th:block th:replace="~{/fragments/breadcrumb}"/>
<!-- 報名紀錄區域開始 -->
<section class="main_content_area">
    <div class="container">
        <div class="registration_records">
            <div class="dashboard_content">
                <h3 style="text-align: center;">報名紀錄</h3>
                <table class="record-table" id="recordsTable">
                    <thead>
                    <tr>
                        <th>活動名稱</th>
                        <th>地點</th>
                        <th>活動開始日期</th>
                        <th>活動結束日期</th>
                        <th>費用</th>
                        <th>目前報名人數</th>
                        <th>報名日期</th>
                        <th>報名狀態</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="recordsTableBody">
                    </tbody>
                </table>
                <div id="alertMessage" style="display: none; text-align: center;">查無資料</div>
            </div>
        </div>
    </div>
</section>
<!-- 報名紀錄區域結束 -->
<!-- Footer -->
<th:block th:replace="~{/fragments/footer}"/>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">提示</h5>
            </div>
            <div class="modal-body" id="modalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModalBtn">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<th:block th:replace="~{/fragments/js}"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/api-response-utils.js"></script>
<script>
    $(document).ready(function () {
        var memberId = localStorage.getItem("memberId");

        $.ajax({
            url: `/api/market/allRegister`,
            type: 'GET',
            headers: {
                "authorization": localStorage.getItem("authorization")
            },
            contentType: "application/json",
            success: function (response) {
                apiResponseJSON(response, {
                    onSuccess(data) {
                        $("#recordsTableBody").empty();
                        if (data.length === 0) {
                            $("#alertMessage").show();
                        } else {
                            $("#alertMessage").hide();
                            let recordsTableBody = $('#recordsTableBody');
                            data.forEach(market => {
                                recordsTableBody.append(`
                                <tr>
                                    <td>${market.marketName}</td>
                                    <td>${market.marketLocation}</td>
                                    <td>${formatDate(market.marketStart)}</td>
                                    <td>${formatDate(market.marketEnd)}</td>
                                    <td>${market.marketFee}</td>
                                    <td>${market.applicantPopulation}</td>
                                    <td>${formatDate(market.participateDate)}</td>
                                    <td>${convertStatusToChinese(market.status)}</td>
                                    <td><button class="cancel-button" data-market-id="${market.marketId}">取消報名</button></td>
                                </tr>
                            `);
                            });
                        }
                    },
                    onError(error) {
                        console.log(error);
                        console.error('Error: ' + error);
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error('Error: ' + error);
            }
        });

        function cancelRegistration(marketId, memberId) {

            var userData = {
                "marketId": marketId,
                "memberId": memberId
            };

            $.ajax({
                url: "/api/market/cancel",
                method: "POST",
                headers: {
                    "authorization": localStorage.getItem("authorization")
                },
                contentType: "application/json",
                data: JSON.stringify(userData),
                success(response) {
                    apiResponseJSON(response, {
                        onSuccess() {
                            $("#modalBody").html("取消報名成功");
                            $("#myModal").modal("show");
                            $("#myModal").on('hidden.bs.modal', function () {
                                location.reload(); // 在模态框关闭后刷新页面
                            });
                        },
                        onError(message) {
                            $("#modalBody").html(message);
                            $("#myModal").modal("show");
                        }
                    });
                },
                error(xhr, status, error) {
                    $("#modalBody").html("報名失敗：" + error);
                    $("#myModal").modal("show");
                }
            });
        }

        $(document).on('click', '.cancel-button', function () {
            var marketId = $(this).data('market-id');
            cancelRegistration(marketId, memberId);
        });

        $("#closeModalBtn").click(function () {
            $("#myModal").modal("hide");
        });
    });

    function formatDate(dateString) {
        const year = dateString.substring(0, 4);
        const month = dateString.substring(4, 6);
        const day = dateString.substring(6, 8);
        return `${year}-${month}-${day}`;
    }

    function convertStatusToChinese(status) {
        switch (parseInt(status)) {
            case 1:
                return "報名成功，已扣款";
            case 2:
                return "報名取消，已退費";
            default:
                return "未知狀態";
        }
    }
</script>
</body>
</html>
