<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <!-- 首頁 -->
                <a class="nav-link" href="/home">後台首頁</a>
                <!-- 員工 -->
                <a class="nav-link" href="employee.html">員工管理</a>
                <!-- 會員 -->
                <a class="nav-link" href="/member/all">會員資料查詢</a>
                <!-- 錢包 -->
                <a class="nav-link" href="offline-market.html">錢包管理</a>
                <!-- 優惠券 -->
                <a class="nav-link" href="offline-market.html">優惠券管理</a>
                <!-- 一般商品 -->
                <a class="nav-link" href="general-product.html">一般商城管理</a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#bidProductCollapse" aria-expanded="false" aria-controls="collapseLayouts2">
                    競標商城管理
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <!-- 競標商品 -->
                <div class="collapse" id="bidProductCollapse" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/bidproduct/list">競標商品查詢</a>
                        <a class="nav-link" href="/bidproduct/review">競標商品審核</a>
                    </nav>
                </div>
                <!-- 線下市集 -->
                <a class="nav-link" href="offline-market.html">線下市集管理</a>
                <!-- 最新消息 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#newsCollapse" aria-expanded="false" aria-controls="collapseLayouts2">
                    最新消息管理
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="newsCollapse" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/news/create">新增最新消息</a>
                        <a class="nav-link" href="/news/review">最新消息列表</a>
                    </nav>
                </div>
                <!-- 客服訊息 -->
                <a class="nav-link" href="customer-service.html">客服聊天室</a>
                <!-- 平台收益 -->
                <a class="nav-link" href="customer-service.html">查看平台收益</a>

                <!-- 範例區塊開始 -->
                <div class="sb-sidenav-menu-heading">範例</div>

                <!-- 收和選單 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                    XXX管理
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">商品上架審核</a>
                        <a class="nav-link" href="layout-sidenav-light.html">商品管理</a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>
