<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <!-- 首頁 -->
                <a class="nav-link" href="/home">後台首頁</a>
                <!-- 員工 -->
                <a onclick="goToEmployeeAll()" class="nav-link">員工管理</a>
                <!-- 會員 -->
                <a onclick="goToMemberAll()" class="nav-link">會員資料查詢</a>
                <!-- 錢包 -->
                <a class="nav-link" href="offline-market.html">錢包管理</a>
                <!-- 優惠券 -->
                <a class="nav-link" href="offline-market.html">優惠券管理</a>
                <!-- 一般商品 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#ProductCollapse" aria-expanded="false" aria-controls="collapseLayouts2">
                    一般商城管理
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="ProductCollapse" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" >一般商品查詢</a>
                        <a class="nav-link" onclick="goToOrderAll()">訂單管理</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#bidProductCollapse" aria-expanded="false" aria-controls="collapseLayouts2">
                    競標商城管理
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <!-- 競標商品 -->
                <div class="collapse" id="bidProductCollapse" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" onclick="goToBidProductAll()">競標商品查詢</a>
                        <a class="nav-link" onclick="goToBidProductReview()">競標商品審核</a>
                    </nav>
                </div>
                <!-- 線下市集 -->
                <a onclick="goToMarketAll()" class="nav-link">線下市集管理</a>
                <!-- 最新消息 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#newsCollapse" aria-expanded="false" aria-controls="collapseLayouts2">
                    最新消息管理
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="newsCollapse" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" onclick="goToNewsAll()">最新消息管理</a>
                        <a class="nav-link" onclick="goToAddNews()">新增最新消息</a>
                    </nav>
                </div>
                <!-- 客服訊息 -->

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                    客服訊息
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" onclick="goToChatroom()" >客服聊天室</a>
                        <a class="nav-link" onclick="goToChatroomHistory()">聊天室紀錄</a>
                    </nav>
                </div>
                <!-- 平台收益 -->
                <a class="nav-link" href="customer-service.html">查看平台收益</a>

                <!-- 範例區塊開始 -->
                <div class="sb-sidenav-menu-heading">範例</div>

                <!-- 收和選單 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                   data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                    XXX管理
                    <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">商品上架審核</a>
                        <a class="nav-link" href="layout-sidenav-light.html">商品管理</a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    });
    function goToEmployeeAll() {
        var authorization = localStorage.getItem("authorization");
        var url = '/employee/all';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToEmployeeAll href: ', url);
        window.location.href = url;
    }

    function goToMemberAll() {
        var authorization = localStorage.getItem("authorization");
        var url = '/member/all';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMemberAll href: ', url);
        window.location.href = url;
    }

    function goToWalletRequest() {
        var authorization = localStorage.getItem("authorization");
        var url = '/wallets/getAll';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMemberAll href: ', url);
        window.location.href = url;
    }

    function goToBidProductAll() {
        var authorization = localStorage.getItem("authorization");
        var url = '/bidproduct/list';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMemberAll href: ', url);
        window.location.href = url;
    }

    function goToBidProductReview() {
        var authorization = localStorage.getItem("authorization");
        var url = '/bidproduct/review';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMemberAll href: ', url);
        window.location.href = url;
    }

    function goToOrderAll() {
        var authorization = localStorage.getItem("authorization");
        var url = '/order/all';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToOrderAll href: ', url);
        window.location.href = url;
    }

    function goToMarketAll() {
        var authorization = localStorage.getItem("authorization");
        var url = '/market/all';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMarketAll href: ', url);
        window.location.href = url;
    }
    function goToChatroom() {
        var authorization = localStorage.getItem("authorization");
        var url = '/chatroom/service';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMarketAll href: ', url);
        window.location.href = url;
    }
    function goToChatroomHistory() {
        var authorization = localStorage.getItem("authorization");
        var url = '/chatroom/history';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMarketAll href: ', url);
        window.location.href = url;
    }

    function goToProductAll() {
        var authorization = localStorage.getItem("authorization");
        var url = '/product/review';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMemberAll href: ', url);
        window.location.href = url;
    }

    function goToNewsAll() {
        var authorization = localStorage.getItem("authorization");
        var url = '/news/list';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMemberAll href: ', url);
        window.location.href = url;
    }

    function goToAddNews() {
        var authorization = localStorage.getItem("authorization");
        var url = '/news/add';
        if(authorization) {
            url += '?authorization=' + encodeURIComponent(authorization);
        }
        console.log('goToMemberAll href: ', url);
        window.location.href = url;
    }
</script>

