<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>申請提領紀錄</title>
    <th:block th:replace="~{/fragments/css}"/>
    <style>
        /* 自定義表格樣式 */
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: #fff;
            color: #212529;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            white-space: nowrap; /* 不換行 */
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            background-color: #f8f9fa;
        }

        .table tbody + tbody {
            border-top: 2px solid #dee2e6;
        }

        .table .table {
            background-color: #fff;
        }

        .custom-select-wrapper {
            position: relative;
        }

        .custom-select-wrapper select {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            padding-right: 2rem; /* 預留空間給倒三角形 */
        }

        .custom-select-wrapper::after {
            content: "\f0d7"; /* Font Awesome Unicode for caret down */
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(0);
            pointer-events: none;
        }
    </style>
</head>
<body class="sb-nav-fixed">
<!--header-->
<th:block th:replace="~{/fragments/header}"/>
<!-- 主要區塊 -->
<div id="layoutSidenav">
    <!-- 側欄選單 -->
    <th:block th:replace="~{/fragments/sidenav}"/>
    <!-- main start -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header">
                    <h2 class="mt-4">申請提領紀錄</h2>
                    <!-- 篩選條件 -->
                    <div class="row mb-3">
                        <div class="col-md-3 custom-select-wrapper">
                            <label for="isVerifiedFilter"
                                   style="margin-bottom: 5px;">審核狀態</label>
                            <select id="isVerifiedFilter" class="form-control">
                                <option value="">所有</option>
                                <option value="1">已審核</option>
                                <option value="0">未審核</option>
                            </select>
                        </div>
                        <div class="col-md-3 align-self-end">
                            <button id="resetFilters" class="btn btn-secondary mr-2">重置篩選條件
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="requestTable" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>會員編號</th>
                                <th>審核狀態</th>
                                <th>提領金額</th>
                                <th>申請時間</th>
                                <th>存入帳戶</th>
                                <th>審核時間</th>
                                <th>審核</th>
                            </tr>
                            </thead>
                            <tbody id="request-records">
                            <!-- 申請紀錄將會被插入這裡 -->
                            </tbody>
                        </table>
                        <div id="alertMessage" class="alert alert-warning" style="display: none; text-align: center;">
                            查無資料
                        </div>
                        <nav>
                            <ul class="pagination justify-content-center" id="pagination">
                                <!-- 分頁按鈕將會被插入這裡 -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!--js-->
<th:block th:replace="~{/fragments/js}"/>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/api-response-utils.js"></script>
<script>
    let userData = {};
    $(document).ready(function () {
        // 當篩選條件改變時，重新加載資料
        $("#isVerifiedFilter").on("change", function () {
            fetchRequestData();
        });

        // 當點擊重置按鈕時，重置篩選條件並重新加載資料
        $("#resetFilters").on("click", function () {
            $("#isVerifiedFilter").val("");
            fetchRequestData();
        });

        function fetchRequestData(pageNumber = 0, pageSize = 5) {
            const status = $("#isVerifiedFilter").val();
            const authorization = localStorage.getItem("authorization");
            // 更新 userData
            userData.status = status === "" ? null : status;
            $.ajax({
                url: `/api/wallets/getAll?authorization=${authorization}&page=${pageNumber}&sizePerPage=${pageSize}`,
                method: "post",
                headers: {
                    "authorization": localStorage.getItem("authorization")
                },
                contentType: "application/json",
                data: JSON.stringify(userData),
                success(response) {
                    apiResponseJSON(response, {
                        onSuccess(data) {
                            const requestList = data.walletRequestList;
                            const totalPages = data.pages.totalPages;

                            // 清空表格和分頁
                            $("#requestTable tbody").empty();
                            $(".pagination").empty();

                            // 若查無資料
                            if (data.pages.totalCount === 0) {
                                $("#alertMessage").show();
                            } else {
                                $("#alertMessage").hide();
                            }

                            // 插入申請資料
                            requestList.forEach(request => {
                                $("#requestTable tbody").append(`
                                    <tr>
                                        <td>${request.memberId}</td>
                                        <td>未審核</td>
                                        <td>${request.withdrawAmount}</td>
                                        <td>${formatDateTime(request.requestDate)}</td>
                                        <td>${request.account}</td>
                                        <td>${request.doneDate ? "未審核" : formatDateTime(request.doneDate)}</td>
                                        <td><button type="button" id="checkBtn" class="btn btn-primary" data-id="${request.walletRequestId}" ${request.doneDate ? "" : "disabled"}>${request.doneDate ? "確認審核" : "完成審核"}</button></td>
                                    </tr>
                                `);
                            });

                            // 插入分頁按鈕
                            for (let i = 0; i < totalPages; i++) {
                                $(".pagination").append(`
                                    <li class="page-item ${i === pageNumber ? "active" : ""}">
                                        <a class="page-link" href="#">${i + 1}</a>
                                    </li>
                                `);
                            }

                            // 分頁按鈕點擊事件
                            $(".pagination .page-link").on("click", function (e) {
                                e.preventDefault();
                                const pageIndex = parseInt($(this).text()) - 1;
                                fetchRequestData(pageIndex);
                                // 滾動到頁面頂部
                                $("html, body").animate({scrollTop: 0}, 50);
                            });
                        },
                        onError(message) {
                            console.log(message);
                        }
                    });
                },
                error(xhr, status, error) {
                    alert("伺服器連線失敗: " + error);
                }
            });
        }

        // 綁定確認審核按鈕的點擊事件
        $("#requestTable").on("click", "#checkBtn", function () {
            const requestId = $(this).data("id");
            const row = $(this).closest("tr");
            const btn = $(this);

            $.ajax({
                url: "/api/wallets/withdrawUpdate",
                method: "post",
                headers: {
                    "authorization": localStorage.getItem("authorization")
                }, contentType: "application/json",
                data: JSON.stringify(requestId),
                success(response) {
                    const doneDate = response.doneDate;
                    row.find(".status").text("已審核");
                    row.find(".doneDate").text(doneDate);
                    btn.text("完成審核");
                    btn.prop("disabled", true);
                    btn.removeClass("btn-primary").addClass("btn-secondary");
                },
                error(xhr, status, error) {
                    alert("審核失敗: " + error);
                }
            });
        });

        function formatDateTime(dateTimeString) {
            return dateTimeString.split('.')[0];
        }

        // 初始加載第一頁
        fetchRequestData();
    });
</script>
</body>
</html>