<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>範例</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!--css-->
    <th:block th:replace="~{/fragments/css}"/>
</head>
<body>
<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!--breadcrumb-->
<th:block th:replace="~{/fragments/breadcrumb}"/>

<!--services img area-->
<div class="services_gallery mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_services">
                    <div class="services_thumb">
                        <img src="/assets/img/service/services1.jpg" alt="">
                    </div>
                    <div class="services_content">
                        <h3>DESIGN THE COVER</h3>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_services">
                    <div class="services_thumb">
                        <img src="/assets/img/service/services2.jpg" alt="">
                    </div>
                    <div class="services_content">
                        <h3>DESIGN THE COVER</h3>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_services">
                    <div class="services_thumb">
                        <img src="/assets/img/service/services3.jpg" alt="">
                    </div>
                    <div class="services_content">
                        <h3>DESIGN THE COVER</h3>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                            litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--services img end-->

<!--our services area-->
<div class="our_services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services_title">
                    <h2>OUR SERVICES</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                        illum dolore
                        eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit..</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                    </div>
                    <div class="services_desc">
                        <h3>BRANDING</h3>
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-umbrella"></i>
                    </div>
                    <div class="services_desc">
                        <h3>WEB DESIGN</h3>

                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services_item">
                    <div class="services_icone">

                        <i class="fa fa-camera"></i>

                    </div>
                    <div class="services_desc">
                        <h3>PHOTOGRAPHY</h3>

                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="services_desc">
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>
                    </div>
                    <div class="services_desc">
                        <h3>CODING</h3>
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <div class="services_desc">
                        <h3>MARKETING</h3>
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div class="services_desc">
                        <h3>SUPPORT</h3>
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services_item">
                    <div class="services_icone">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <div class="services_desc">
                        <h3>GRAPHIC DESIGN</h3>
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--our services area end-->

<!--services section area-->
<div class="unlimited_services">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="services_section_thumb">
                    <img src="/assets/img/service/services4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="unlimited_services_content">
                    <h1>UNLIMITED IDEAS</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, suscipit dolorum ullam
                        soluta voluptatem quasi molestias illum possimus, accusantium assumenda inventore debitis
                        ducimus. Quis ducimus, consequatur corrupti, sunt rerum sit atque eum inventore. Autem excepturi
                        reiciendis voluptate totam sit, sunt fugiat voluptatum beatae voluptas ab quia vitae accusamus
                        assumenda facilis perferendis, quam itaque aliquid qui omnis culpa consectetur placeat ipsa
                        quaerat. </p>
                    <div class="view__work">
                        <a href="#">MORE INFO <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--services section end-->

<!--price table area -->
<div class="priceing_table">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_priceing">
                    <div class="priceing_title">
                        <h1>Standard</h1>
                    </div>
                    <div class="priceing_list">
                        <h1><span>£19</span>/Month</h1>
                        <ul>
                            <li>2 GB Webspace</li>
                            <li>1 Domain</li>
                            <li>PHP 5 Enbled</li>
                            <li>24H – Support</li>
                        </ul>
                        <a href="#">purchase now </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_priceing">
                    <div class="priceing_title">
                        <h1>Returns</h1>
                    </div>
                    <div class="priceing_list">
                        <h1><span>£23</span>/Month</h1>
                        <ul>
                            <li>2 GB Webspace</li>
                            <li>1 Domain</li>
                            <li>PHP 5 Enbled</li>
                            <li>24H – Support</li>
                        </ul>
                        <a class="list_button" href="#">purchase now </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_priceing">
                    <div class="priceing_title">
                        <h1>Affiliate</h1>
                    </div>
                    <div class="priceing_list">
                        <h1><span>£20</span>/Month</h1>
                        <ul>
                            <li>2 GB Webspace</li>
                            <li>1 Domain</li>
                            <li>PHP 5 Enbled</li>
                            <li>24H – Support</li>
                        </ul>
                        <a href="#">purchase now </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_priceing">
                    <div class="priceing_title">
                        <h1>Specials</h1>
                    </div>
                    <div class="priceing_list">
                        <h1><span>£25</span>/Month</h1>
                        <ul>
                            <li>2 GB Webspace</li>
                            <li>1 Domain</li>
                            <li>PHP 5 Enbled</li>
                            <li>24H – Support</li>
                        </ul>
                        <a class="list_button" href="#">purchase now </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--price table  end-->

<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

<!--js-->
<th:block th:replace="~{/fragments/js}"/>
</body>
</html>