<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>範例</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!--css-->
    <th:block th:replace="~{/fragments/css}"/>
</head>
<body>
<!--header-->
<th:block th:replace="~{/fragments/header}"/>

<!--breadcrumb-->
<th:block th:replace="~{/fragments/breadcrumb}"/>

<!--shopping cart area start -->
<div class="shopping_cart_area mt-100">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="product_thumb">Image</th>
                                    <th class="product_name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product_quantity">Quantity</th>
                                    <th class="product_total">SubTotal</th>
                                    <th class="product_remove">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <p>Enter your coupon code if you have one.</p>
                                <input placeholder="Coupon code" type="text">
                                <button type="submit">Apply coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p style="font-size: 25px">Total</p>
                                    <p class="cart_amount" id="cart_total"></p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="#">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->
        </form>
    </div>
</div>
<!--shopping cart area end -->

<!--footer-->
<th:block th:replace="~{/fragments/footer}"/>

<!--js-->
<th:block th:replace="~{/fragments/js}"/>

<script>
    $(document).ready(function () {
        getCart();

        $("#tbody").on("click", "a#remove", function () {
            let remove = confirm("Remove Item?");
            if (remove) {
                let productId = $(this).closest("tr").find("input#productId").val();

                $.ajax({
                    url: "/api/cart/remove/" + productId,
                    method: "DELETE",
                    headers: {
                        "authorization": localStorage.getItem("authorization")
                    },
                    success: function (response) {
                        // console.log(response);
                        $("#tbody").html("");
                        getCart();
                    },
                    error: function (xhr, status, error) {
                        console.error("There was a problem :", error);
                    },
                })
            }
        })

        $("#tbody").on("change", "input#quantity", function () {
            // console.log($(this).closest("tr").find("input#productId").val())

            let data = {
                productId: $(this).closest("tr").find("input#productId").val(),
                quantity: $(this).val()
            };
            $.ajax({
                url: "/api/cart/update",
                method: "PUT",
                headers: {
                    "authorization": localStorage.getItem("authorization")
                },
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    // console.log(response);
                    $("#tbody").html("");
                    getCart();
                },
                error: function (xhr, status, error) {
                    console.error("There was a problem :", error);
                },
            })
        })

        function getCart() {
            $.ajax({
                url: "/api/cart/get",
                method: "GET",
                headers: {
                    "authorization": localStorage.getItem("authorization")
                },
                success: function (response) {
                    // console.log(response);
                    let cartList = response.data;
                    let total = 0;
                    cartList.forEach(function (cartItem) {
                        total += cartItem.subtotal;

                        $("#tbody").append(
                            "<tr>" +
                            "<td class='product_thumb'>" +
                            "<a href='#'><img src='#' alt=''/></a>" +
                            "</td>" +
                            "<td class='product_name'>" +
                            "<input id='productId' value='" + cartItem.productId + "' type='hidden' />" +
                            "<a href='#'>" +
                            cartItem.productName +
                            "</a>" +
                            "</td>" +
                            "<td class='product_price'>" +
                            cartItem.price +
                            "</td>" +
                            "<td class='product_quantity'>" +
                            "<label>Quantity</label>" +
                            "<input id='quantity' min='1' max='100' value='" +
                            cartItem.quantity +
                            "' type='number' />" +
                            "</td>" +
                            "<td class='product_total'>" +
                            cartItem.subtotal +
                            "</td>" +
                            "<td class='product_remove'>" +
                            "<a id='remove'><i class='fa fa-trash-o'></i></a>" +
                            "</td>" +
                            "</tr>"
                        );
                    });

                    $("#cart_total").text(total);
                },
                error: function (xhr, status, error) {
                    console.error("There was a problem :", error);
                },
            });
        }
    });
</script>

</body>
</html>